hass/node-red/.flows.json.backup
[{"id":"54768614.456e88","type":"tab","label":"Office Roku Flow","disabled":false,"info":""},{"id":"942d21a2.f8f1","type":"tab","label":"Basement Roku Flow","disabled":false,"info":""},{"id":"88557ee1.6f5b7","type":"tab","label":"Garbage Day","disabled":false,"info":""},{"id":"b364fb80.646298","type":"tab","label":"Show LL Columns","disabled":false,"info":""},{"id":"cd551f89.80ba3","type":"tab","label":"Grandfather Clock","disabled":false,"info":""},{"id":"15d09366.32790d","type":"tab","label":"Good Night","disabled":false,"info":""},{"id":"fe7a5da1.b8a4b","type":"tab","label":"Good Morning","disabled":false,"info":"Should check for holidays and should play to master bedroom as well"},{"id":"74981d59.188b04","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cc970140.c73bf","type":"server","z":"","name":"Home Assistant","url":"http://hassio/homeassistant","pass":"9233f3d78d5f4f779f5cb68b90e5e1df"},{"id":"bc279c43.2e793","type":"server-state-changed","z":"54768614.456e88","name":"BACK","server":"cc970140.c73bf","entityidfilter":"input_boolean.office_tv_back","entityidfiltertype":"substring","haltifstate":"off","x":121,"y":126,"wires":[["89c03b9b.5c22a8"]]},{"id":"89c03b9b.5c22a8","type":"http request","z":"54768614.456e88","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.4:8060/keypress/Back","tls":"","x":237,"y":126,"wires":[["77a8dcf2.6b52f4"]]},{"id":"77a8dcf2.6b52f4","type":"api-call-service","z":"54768614.456e88","name":"OFF","server":"cc970140.c73bf","service_domain":"input_boolean","service":"turn_off","data":"{  \"entity_id\": \"input_boolean.office_tv_back\" }","mergecontext":"","x":356,"y":125,"wires":[[]]},{"id":"cb5adee3.07a3d","type":"server-state-changed","z":"54768614.456e88","name":"LEFT","server":"cc970140.c73bf","entityidfilter":"input_boolean.office_tv_left","entityidfiltertype":"substring","haltifstate":"off","x":120,"y":239,"wires":[["cc2bb755.ff7ef8"]]},{"id":"cc2bb755.ff7ef8","type":"http request","z":"54768614.456e88","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.4:8060/keypress/Left","tls":"","x":239,"y":239,"wires":[["a52bfe37.4832"]]},{"id":"a52bfe37.4832","type":"api-call-service","z":"54768614.456e88","name":"OFF","server":"cc970140.c73bf","service_domain":"input_boolean","service":"turn_off","data":"{ \"entity_id\": \"input_boolean.office_tv_left\" }","mergecontext":"","x":357,"y":239,"wires":[[]]},{"id":"2fa54862.b2e3f8","type":"server-state-changed","z":"54768614.456e88","name":"RIGHT","server":"cc970140.c73bf","entityidfilter":"input_boolean.office_tv_right","entityidfiltertype":"substring","haltifstate":"off","x":841,"y":232,"wires":[["21008378.9de6bc"]]},{"id":"9a5da5ba.66ce98","type":"server-state-changed","z":"54768614.456e88","name":"UP","server":"cc970140.c73bf","entityidfilter":"input_boolean.office_tv_up","entityidfiltertype":"substring","haltifstate":"off","x":475,"y":187,"wires":[["ae513f3e.b4b46"]]},{"id":"ebb011e0.9a212","type":"server-state-changed","z":"54768614.456e88","name":"DOWN","server":"cc970140.c73bf","entityidfilter":"input_boolean.office_tv_down","entityidfiltertype":"substring","haltifstate":"off","x":476,"y":296,"wires":[["533e6265.b17c6c"]]},{"id":"921fd9a8.adee48","type":"server-state-changed","z":"54768614.456e88","name":"PLAY","server":"cc970140.c73bf","entityidfilter":"input_boolean.office_tv_play","entityidfiltertype":"substring","haltifstate":"off","x":475,"y":351,"wires":[["e6c9fff7.3d4f5"]]},{"id":"af3e335a.f9ee9","type":"server-state-changed","z":"54768614.456e88","name":"SELECT","server":"cc970140.c73bf","entityidfilter":"input_boolean.office_tv_select","entityidfiltertype":"substring","haltifstate":"off","x":477,"y":239,"wires":[["d4dad594.abc508"]]},{"id":"e5cb2c28.c4f8f","type":"server-state-changed","z":"54768614.456e88","name":"REPLAY","server":"cc970140.c73bf","entityidfilter":"input_boolean.office_tv_instant_replay","entityidfiltertype":"substring","haltifstate":"off","x":109,"y":401,"wires":[["89c4e18d.291db"]]},{"id":"2634e3de.92d56c","type":"server-state-changed","z":"54768614.456e88","name":"HOME","server":"cc970140.c73bf","entityidfilter":"input_boolean.office_tv_home","entityidfiltertype":"substring","haltifstate":"off","x":840,"y":121,"wires":[["decfd362.a79c7"]]},{"id":"e1a8a6bf.5d8ba8","type":"server-state-changed","z":"54768614.456e88","name":"FORWARD","server":"cc970140.c73bf","entityidfilter":"input_boolean.office_tv_forward","entityidfiltertype":"substring","haltifstate":"off","x":863,"y":345,"wires":[["e2f9bb41.34b878"]]},{"id":"2f109903.99ca86","type":"server-state-changed","z":"54768614.456e88","name":"REWIND","server":"cc970140.c73bf","entityidfilter":"input_boolean.office_tv_rewind","entityidfiltertype":"substring","haltifstate":"off","x":112,"y":348,"wires":[["d859b566.596ee8"]]},{"id":"c5ffe8e8.ac2278","type":"server-state-changed","z":"54768614.456e88","name":"INFO","server":"cc970140.c73bf","entityidfilter":"input_boolean.office_tv_info","entityidfiltertype":"substring","haltifstate":"off","x":476,"y":122,"wires":[["49ac105d.7900f"]]},{"id":"49ac105d.7900f","type":"http request","z":"54768614.456e88","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.4:8060/keypress/Info","tls":"","x":600,"y":123,"wires":[["c9c8e4f.a21ef18"]]},{"id":"21008378.9de6bc","type":"http request","z":"54768614.456e88","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.4:8060/keypress/Right","tls":"","x":960,"y":231,"wires":[["2bb50bcd.239084"]]},{"id":"c9c8e4f.a21ef18","type":"api-call-service","z":"54768614.456e88","name":"OFF","server":"cc970140.c73bf","service_domain":"input_boolean","service":"turn_off","data":"{  \"entity_id\": \"input_boolean.office_tv_info\" }","mergecontext":"","x":719,"y":122,"wires":[[]]},{"id":"decfd362.a79c7","type":"http request","z":"54768614.456e88","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.4:8060/keypress/Home","tls":"","x":961,"y":120,"wires":[["8705993e.1bee18"]]},{"id":"8705993e.1bee18","type":"api-call-service","z":"54768614.456e88","name":"OFF","server":"cc970140.c73bf","service_domain":"input_boolean","service":"turn_off","data":"{  \"entity_id\": \"input_boolean.office_tv_home\" }","mergecontext":"","x":1089,"y":119,"wires":[[]]},{"id":"ae513f3e.b4b46","type":"http request","z":"54768614.456e88","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.4:8060/keypress/Up","tls":"","x":604,"y":187,"wires":[["908fb700.c59658"]]},{"id":"908fb700.c59658","type":"api-call-service","z":"54768614.456e88","name":"OFF","server":"cc970140.c73bf","service_domain":"input_boolean","service":"turn_off","data":"{  \"entity_id\": \"input_boolean.office_tv_up\" }","mergecontext":"","x":727,"y":187,"wires":[[]]},{"id":"d4dad594.abc508","type":"http request","z":"54768614.456e88","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.4:8060/keypress/Select","tls":"","x":605,"y":238,"wires":[["f0bb436a.7fbb1"]]},{"id":"f0bb436a.7fbb1","type":"api-call-service","z":"54768614.456e88","name":"OFF","server":"cc970140.c73bf","service_domain":"input_boolean","service":"turn_off","data":"{  \"entity_id\": \"input_boolean.office_tv_select\" }","mergecontext":"","x":724,"y":237,"wires":[[]]},{"id":"2bb50bcd.239084","type":"api-call-service","z":"54768614.456e88","name":"OFF","server":"cc970140.c73bf","service_domain":"input_boolean","service":"turn_off","data":"{  \"entity_id\": \"input_boolean.office_tv_right\" }","mergecontext":"","x":1080,"y":230,"wires":[[]]},{"id":"533e6265.b17c6c","type":"http request","z":"54768614.456e88","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.4:8060/keypress/Down","tls":"","x":603,"y":296,"wires":[["61584a3f.7ef944"]]},{"id":"61584a3f.7ef944","type":"api-call-service","z":"54768614.456e88","name":"OFF","server":"cc970140.c73bf","service_domain":"input_boolean","service":"turn_off","data":"{  \"entity_id\": \"input_boolean.office_tv_down\" }","mergecontext":"","x":726,"y":296,"wires":[[]]},{"id":"e6c9fff7.3d4f5","type":"http request","z":"54768614.456e88","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.4:8060/keypress/Play","tls":"","x":601,"y":351,"wires":[["fb84ddb7.fd4e4"]]},{"id":"fb84ddb7.fd4e4","type":"api-call-service","z":"54768614.456e88","name":"OFF","server":"cc970140.c73bf","service_domain":"input_boolean","service":"turn_off","data":"{  \"entity_id\": \"input_boolean.office_tv_play\" }","mergecontext":"","x":726,"y":351,"wires":[[]]},{"id":"e2f9bb41.34b878","type":"http request","z":"54768614.456e88","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.4:8060/keypress/Fwd","tls":"","x":1003,"y":344,"wires":[["709cf7f9.13a5a8"]]},{"id":"709cf7f9.13a5a8","type":"api-call-service","z":"54768614.456e88","name":"OFF","server":"cc970140.c73bf","service_domain":"input_boolean","service":"turn_off","data":"{  \"entity_id\": \"input_boolean.office_tv_forward\" }","mergecontext":"","x":1130,"y":343,"wires":[[]]},{"id":"ff6b44e0.0a3188","type":"api-call-service","z":"54768614.456e88","name":"OFF","server":"cc970140.c73bf","service_domain":"input_boolean","service":"turn_off","data":"{ \"entity_id\": \"input_boolean.office_tv_rewind\" }","mergecontext":"","x":356,"y":349,"wires":[[]]},{"id":"d859b566.596ee8","type":"http request","z":"54768614.456e88","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.4:8060/keypress/Rev","tls":"","x":240,"y":348,"wires":[["ff6b44e0.0a3188"]]},{"id":"89c4e18d.291db","type":"http request","z":"54768614.456e88","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.4:8060/keypress/InstantReplay","tls":"","x":242,"y":400,"wires":[["ac5150b4.0464f"]]},{"id":"ac5150b4.0464f","type":"api-call-service","z":"54768614.456e88","name":"OFF","server":"cc970140.c73bf","service_domain":"input_boolean","service":"turn_off","data":"{ \"entity_id\": \"input_boolean.office_tv_instant_replay\" }","mergecontext":"","x":360,"y":399,"wires":[[]]},{"id":"33c6a251.00139e","type":"server-state-changed","z":"54768614.456e88","name":"NETFLIX","server":"cc970140.c73bf","entityidfilter":"input_boolean.office_tv_netflix","entityidfiltertype":"substring","haltifstate":"off","x":106.99999237060547,"y":188.00000762939453,"wires":[["d78adc62.99633"]]},{"id":"d78adc62.99633","type":"http request","z":"54768614.456e88","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.4:8060/launch/12","tls":"","x":236.99999237060547,"y":188.00000762939453,"wires":[["8aeb279b.c5e958"]]},{"id":"8aeb279b.c5e958","type":"api-call-service","z":"54768614.456e88","name":"OFF","server":"cc970140.c73bf","service_domain":"input_boolean","service":"turn_off","data":"{  \"entity_id\": \"input_boolean.office_tv_netflix\" }","mergecontext":"","x":355.99999237060547,"y":187.00000762939453,"wires":[[]]},{"id":"7f3b8429.414ddc","type":"server-state-changed","z":"54768614.456e88","name":"DISNEY","server":"cc970140.c73bf","entityidfilter":"input_boolean.office_tv_disney","entityidfiltertype":"substring","haltifstate":"off","x":848.0000762939453,"y":187.00000858306885,"wires":[["77d78706.4208a8"]]},{"id":"77d78706.4208a8","type":"http request","z":"54768614.456e88","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.4:8060/launch/32828","tls":"","x":972.0000762939453,"y":187.00000858306885,"wires":[["d80c4240.a67d7"]]},{"id":"d80c4240.a67d7","type":"api-call-service","z":"54768614.456e88","name":"OFF","server":"cc970140.c73bf","service_domain":"input_boolean","service":"turn_off","data":"{  \"entity_id\": \"input_boolean.office_tv_disney\" }","mergecontext":"","x":1091.0000762939453,"y":186.00000858306885,"wires":[[]]},{"id":"a14d71cd.c75c","type":"server-state-changed","z":"54768614.456e88","name":"YOUTUBE","server":"cc970140.c73bf","entityidfilter":"input_boolean.office_tv_youtube","entityidfiltertype":"substring","haltifstate":"off","x":852.0001068115234,"y":294.9999942779541,"wires":[["b93266f6.a1a2d8"]]},{"id":"b93266f6.a1a2d8","type":"http request","z":"54768614.456e88","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.4:8060/launch/837","tls":"","x":978.0001068115234,"y":294.9999942779541,"wires":[["e9fbebad.35f2d8"]]},{"id":"e9fbebad.35f2d8","type":"api-call-service","z":"54768614.456e88","name":"OFF","server":"cc970140.c73bf","service_domain":"input_boolean","service":"turn_off","data":"{  \"entity_id\": \"input_boolean.office_tv_youtube\" }","mergecontext":"","x":1097.0001068115234,"y":293.9999942779541,"wires":[[]]},{"id":"afa1910b.df9d","type":"server-state-changed","z":"54768614.456e88","name":"NICK","server":"cc970140.c73bf","entityidfilter":"input_boolean.office_tv_nick","entityidfiltertype":"substring","haltifstate":"off","x":108.68402099609375,"y":297.0104064941406,"wires":[["d109857a.f53eb8"]]},{"id":"d109857a.f53eb8","type":"http request","z":"54768614.456e88","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.4:8060/launch/66595","tls":"","x":242.68402099609375,"y":297.0104064941406,"wires":[["213e5c06.8e67a4"]]},{"id":"213e5c06.8e67a4","type":"api-call-service","z":"54768614.456e88","name":"OFF","server":"cc970140.c73bf","service_domain":"input_boolean","service":"turn_off","data":"{  \"entity_id\": \"input_boolean.office_tv_nick\" }","mergecontext":"","x":361.68402099609375,"y":296.0104064941406,"wires":[[]]},{"id":"4dd55ef7.b3e69","type":"server-state-changed","z":"54768614.456e88","name":"MUTE","server":"cc970140.c73bf","entityidfilter":"input_boolean.office_tv_mute","entityidfiltertype":"substring","haltifstate":"off","x":97.68402099609375,"y":457.0104064941406,"wires":[["70a51f17.8c797"]]},{"id":"70a51f17.8c797","type":"api-call-service","z":"54768614.456e88","name":"OFF","server":"cc970140.c73bf","service_domain":"input_boolean","service":"turn_off","data":"{ \"entity_id\": \"input_boolean.office_tv_mute\" }","mergecontext":"","x":358.68402099609375,"y":455.0104064941406,"wires":[[]]},{"id":"4da163fe.64edbc","type":"server-state-changed","z":"54768614.456e88","name":"LOWER","server":"cc970140.c73bf","entityidfilter":"input_boolean.office_tv_lower","entityidfiltertype":"substring","haltifstate":"off","x":492.68402099609375,"y":455.0104064941406,"wires":[["dafb9ef6.2e9e7"]]},{"id":"dafb9ef6.2e9e7","type":"api-call-service","z":"54768614.456e88","name":"OFF","server":"cc970140.c73bf","service_domain":"input_boolean","service":"turn_off","data":"{ \"entity_id\": \"input_boolean.office_tv_lower\" }","mergecontext":"","x":743.6840209960938,"y":453.0104064941406,"wires":[[]]},{"id":"588e4c1c.7d1c74","type":"server-state-changed","z":"54768614.456e88","name":"RAISE","server":"cc970140.c73bf","entityidfilter":"input_boolean.office_tv_instant_raise","entityidfiltertype":"substring","haltifstate":"off","x":861.6840209960938,"y":451.0104064941406,"wires":[["fe212806.094688"]]},{"id":"fe212806.094688","type":"api-call-service","z":"54768614.456e88","name":"OFF","server":"cc970140.c73bf","service_domain":"input_boolean","service":"turn_off","data":"{ \"entity_id\": \"input_boolean.office_tv_raise\" }","mergecontext":"","x":1122.6840209960938,"y":449.0104064941406,"wires":[[]]},{"id":"5632ef9b.b2a66","type":"server-state-changed","z":"942d21a2.f8f1","name":"BACK","server":"cc970140.c73bf","entityidfilter":"input_boolean.basement_tv_back","entityidfiltertype":"substring","haltifstate":"off","x":312.0173645019531,"y":130.0104217529297,"wires":[["8f009004.45b4"]]},{"id":"8f009004.45b4","type":"http request","z":"942d21a2.f8f1","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.5:8060/keypress/Back","tls":"","x":428.0173645019531,"y":130.0104217529297,"wires":[["47ed9fde.04523"]]},{"id":"47ed9fde.04523","type":"api-call-service","z":"942d21a2.f8f1","name":"OFF","server":"cc970140.c73bf","service_domain":"input_boolean","service":"turn_off","data":"{  \"entity_id\": \"input_boolean.basement_tv_back\" }","mergecontext":"","x":547.0173645019531,"y":129.0104217529297,"wires":[[]]},{"id":"5502bee9.65898","type":"server-state-changed","z":"942d21a2.f8f1","name":"LEFT","server":"cc970140.c73bf","entityidfilter":"input_boolean.basement_tv_left","entityidfiltertype":"substring","haltifstate":"off","x":311.0173645019531,"y":243.0104217529297,"wires":[["7428e440.9b540c"]]},{"id":"7428e440.9b540c","type":"http request","z":"942d21a2.f8f1","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.5:8060/keypress/Left","tls":"","x":430.0173645019531,"y":243.0104217529297,"wires":[["72bc8c91.3bf8c4"]]},{"id":"72bc8c91.3bf8c4","type":"api-call-service","z":"942d21a2.f8f1","name":"OFF","server":"cc970140.c73bf","service_domain":"input_boolean","service":"turn_off","data":"{ \"entity_id\": \"input_boolean.basement_tv_left\" }","mergecontext":"","x":548.0173645019531,"y":243.0104217529297,"wires":[[]]},{"id":"ef394fdc.637b3","type":"server-state-changed","z":"942d21a2.f8f1","name":"RIGHT","server":"cc970140.c73bf","entityidfilter":"input_boolean.basement_tv_right","entityidfiltertype":"substring","haltifstate":"off","x":1032.0173645019531,"y":236.0104217529297,"wires":[["73d3dd9c.77d784"]]},{"id":"afe7ae57.02886","type":"server-state-changed","z":"942d21a2.f8f1","name":"UP","server":"cc970140.c73bf","entityidfilter":"input_boolean.basement_tv_up","entityidfiltertype":"substring","haltifstate":"off","x":666.0173645019531,"y":191.0104217529297,"wires":[["f562a226.1cad5"]]},{"id":"8c921e91.8a8b5","type":"server-state-changed","z":"942d21a2.f8f1","name":"DOWN","server":"cc970140.c73bf","entityidfilter":"input_boolean.basement_tv_down","entityidfiltertype":"substring","haltifstate":"off","x":667.0173645019531,"y":300.0104217529297,"wires":[["a56115e1.063788"]]},{"id":"39f8b33c.99ca3c","type":"server-state-changed","z":"942d21a2.f8f1","name":"PLAY","server":"cc970140.c73bf","entityidfilter":"input_boolean.basement_tv_play","entityidfiltertype":"substring","haltifstate":"off","x":666.0173645019531,"y":355.0104217529297,"wires":[["536e11d8.5e7d1"]]},{"id":"2e6ed33d.7a5d6c","type":"server-state-changed","z":"942d21a2.f8f1","name":"SELECT","server":"cc970140.c73bf","entityidfilter":"input_boolean.basement_tv_select","entityidfiltertype":"substring","haltifstate":"off","x":668.0173645019531,"y":243.0104217529297,"wires":[["e0f2b3a7.ac094"]]},{"id":"7cf15322.dfd31c","type":"server-state-changed","z":"942d21a2.f8f1","name":"REPLAY","server":"cc970140.c73bf","entityidfilter":"input_boolean.basement_tv_instant_replay","entityidfiltertype":"substring","haltifstate":"off","x":300.0173645019531,"y":405.0104217529297,"wires":[["6ed5094.e34aff8"]]},{"id":"87d0fb92.46a378","type":"server-state-changed","z":"942d21a2.f8f1","name":"HOME","server":"cc970140.c73bf","entityidfilter":"input_boolean.basement_tv_home","entityidfiltertype":"substring","haltifstate":"off","x":1031.0173645019531,"y":125.01042175292969,"wires":[["d9b50452.e78de8"]]},{"id":"ac601339.1676b","type":"server-state-changed","z":"942d21a2.f8f1","name":"FORWARD","server":"cc970140.c73bf","entityidfilter":"input_boolean.basement_tv_forward","entityidfiltertype":"substring","haltifstate":"off","x":1054.0173645019531,"y":349.0104217529297,"wires":[["91d876a0.4ea818"]]},{"id":"921f58d7.691598","type":"server-state-changed","z":"942d21a2.f8f1","name":"REWIND","server":"cc970140.c73bf","entityidfilter":"input_boolean.basement_tv_rewind","entityidfiltertype":"substring","haltifstate":"off","x":303.0173645019531,"y":352.0104217529297,"wires":[["cd47c958.1fcdd8"]]},{"id":"ba5bdf9c.b6b0e","type":"server-state-changed","z":"942d21a2.f8f1","name":"INFO","server":"cc970140.c73bf","entityidfilter":"input_boolean.basement_tv_info","entityidfiltertype":"substring","haltifstate":"off","x":667.0173645019531,"y":126.01042175292969,"wires":[["fe4ffd2a.ceec4"]]},{"id":"fe4ffd2a.ceec4","type":"http request","z":"942d21a2.f8f1","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.5:8060/keypress/Info","tls":"","x":791.0173645019531,"y":127.01042175292969,"wires":[["696d0223.afb58c"]]},{"id":"73d3dd9c.77d784","type":"http request","z":"942d21a2.f8f1","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.5:8060/keypress/Right","tls":"","x":1151.0173645019531,"y":235.0104217529297,"wires":[["3b924079.c58a4"]]},{"id":"696d0223.afb58c","type":"api-call-service","z":"942d21a2.f8f1","name":"OFF","server":"cc970140.c73bf","service_domain":"input_boolean","service":"turn_off","data":"{  \"entity_id\": \"input_boolean.basement_tv_info\" }","mergecontext":"","x":910.0173645019531,"y":126.01042175292969,"wires":[[]]},{"id":"d9b50452.e78de8","type":"http request","z":"942d21a2.f8f1","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.5:8060/keypress/Home","tls":"","x":1152.0173645019531,"y":124.01042175292969,"wires":[["dade1125.2f0d4"]]},{"id":"dade1125.2f0d4","type":"api-call-service","z":"942d21a2.f8f1","name":"OFF","server":"cc970140.c73bf","service_domain":"input_boolean","service":"turn_off","data":"{  \"entity_id\": \"input_boolean.basement_tv_home\" }","mergecontext":"","x":1280.0173645019531,"y":123.01042175292969,"wires":[[]]},{"id":"f562a226.1cad5","type":"http request","z":"942d21a2.f8f1","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.5:8060/keypress/Up","tls":"","x":795.0173645019531,"y":191.0104217529297,"wires":[["2cc6722b.0d7c2e"]]},{"id":"2cc6722b.0d7c2e","type":"api-call-service","z":"942d21a2.f8f1","name":"OFF","server":"cc970140.c73bf","service_domain":"input_boolean","service":"turn_off","data":"{  \"entity_id\": \"input_boolean.basement_tv_up\" }","mergecontext":"","x":918.0173645019531,"y":191.0104217529297,"wires":[[]]},{"id":"e0f2b3a7.ac094","type":"http request","z":"942d21a2.f8f1","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.5:8060/keypress/Select","tls":"","x":796.0173645019531,"y":242.0104217529297,"wires":[["2472a122.ebc6ae"]]},{"id":"2472a122.ebc6ae","type":"api-call-service","z":"942d21a2.f8f1","name":"OFF","server":"cc970140.c73bf","service_domain":"input_boolean","service":"turn_off","data":"{  \"entity_id\": \"input_boolean.basement_tv_select\" }","mergecontext":"","x":915.0173645019531,"y":241.0104217529297,"wires":[[]]},{"id":"3b924079.c58a4","type":"api-call-service","z":"942d21a2.f8f1","name":"OFF","server":"cc970140.c73bf","service_domain":"input_boolean","service":"turn_off","data":"{  \"entity_id\": \"input_boolean.basement_tv_right\" }","mergecontext":"","x":1271.0173645019531,"y":234.0104217529297,"wires":[[]]},{"id":"a56115e1.063788","type":"http request","z":"942d21a2.f8f1","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.5:8060/keypress/Down","tls":"","x":794.0173645019531,"y":300.0104217529297,"wires":[["e2a6dce9.5af09"]]},{"id":"e2a6dce9.5af09","type":"api-call-service","z":"942d21a2.f8f1","name":"OFF","server":"cc970140.c73bf","service_domain":"input_boolean","service":"turn_off","data":"{  \"entity_id\": \"input_boolean.basement_tv_down\" }","mergecontext":"","x":917.0173645019531,"y":300.0104217529297,"wires":[[]]},{"id":"536e11d8.5e7d1","type":"http request","z":"942d21a2.f8f1","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.5:8060/keypress/Play","tls":"","x":792.0173645019531,"y":355.0104217529297,"wires":[["13666dc1.8592e2"]]},{"id":"13666dc1.8592e2","type":"api-call-service","z":"942d21a2.f8f1","name":"OFF","server":"cc970140.c73bf","service_domain":"input_boolean","service":"turn_off","data":"{  \"entity_id\": \"input_boolean.basement_tv_play\" }","mergecontext":"","x":917.0173645019531,"y":355.0104217529297,"wires":[[]]},{"id":"91d876a0.4ea818","type":"http request","z":"942d21a2.f8f1","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.5:8060/keypress/Fwd","tls":"","x":1194.0173645019531,"y":348.0104217529297,"wires":[["a7b05fba.9f26d"]]},{"id":"a7b05fba.9f26d","type":"api-call-service","z":"942d21a2.f8f1","name":"OFF","server":"cc970140.c73bf","service_domain":"input_boolean","service":"turn_off","data":"{  \"entity_id\": \"input_boolean.basement_tv_forward\" }","mergecontext":"","x":1321.0173645019531,"y":347.0104217529297,"wires":[[]]},{"id":"a8119a9.702b168","type":"api-call-service","z":"942d21a2.f8f1","name":"OFF","server":"cc970140.c73bf","service_domain":"input_boolean","service":"turn_off","data":"{ \"entity_id\": \"input_boolean.basement_tv_rewind\" }","mergecontext":"","x":547.0173645019531,"y":353.0104217529297,"wires":[[]]},{"id":"cd47c958.1fcdd8","type":"http request","z":"942d21a2.f8f1","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.5:8060/keypress/Rev","tls":"","x":431.0173645019531,"y":352.0104217529297,"wires":[["a8119a9.702b168"]]},{"id":"6ed5094.e34aff8","type":"http request","z":"942d21a2.f8f1","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.5:8060/keypress/InstantReplay","tls":"","x":433.0173645019531,"y":404.0104217529297,"wires":[["44c2b20e.ae6e1c"]]},{"id":"44c2b20e.ae6e1c","type":"api-call-service","z":"942d21a2.f8f1","name":"OFF","server":"cc970140.c73bf","service_domain":"input_boolean","service":"turn_off","data":"{ \"entity_id\": \"input_boolean.basement_tv_instant_replay\" }","mergecontext":"","x":551.0173645019531,"y":403.0104217529297,"wires":[[]]},{"id":"fa2b1bb2.6301b8","type":"server-state-changed","z":"942d21a2.f8f1","name":"NETFLIX","server":"cc970140.c73bf","entityidfilter":"input_boolean.basement_tv_netflix","entityidfiltertype":"substring","haltifstate":"off","x":298.0173568725586,"y":192.01042938232422,"wires":[["67f0ecf8.7d1ec4"]]},{"id":"67f0ecf8.7d1ec4","type":"http request","z":"942d21a2.f8f1","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.5:8060/launch/12","tls":"","x":428.0173568725586,"y":192.01042938232422,"wires":[["5a061628.3b6848"]]},{"id":"5a061628.3b6848","type":"api-call-service","z":"942d21a2.f8f1","name":"OFF","server":"cc970140.c73bf","service_domain":"input_boolean","service":"turn_off","data":"{  \"entity_id\": \"input_boolean.basement_tv_netflix\" }","mergecontext":"","x":547.0173568725586,"y":191.01042938232422,"wires":[[]]},{"id":"abc70893.4f1e48","type":"server-state-changed","z":"942d21a2.f8f1","name":"DISNEY","server":"cc970140.c73bf","entityidfilter":"input_boolean.basement_tv_disney","entityidfiltertype":"substring","haltifstate":"off","x":1039.0174407958984,"y":191.01043033599854,"wires":[["f26b4dbd.76d13"]]},{"id":"f26b4dbd.76d13","type":"http request","z":"942d21a2.f8f1","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.5:8060/launch/32828","tls":"","x":1163.0174407958984,"y":191.01043033599854,"wires":[["4e26afb0.ecf81"]]},{"id":"4e26afb0.ecf81","type":"api-call-service","z":"942d21a2.f8f1","name":"OFF","server":"cc970140.c73bf","service_domain":"input_boolean","service":"turn_off","data":"{  \"entity_id\": \"input_boolean.basement_tv_disney\" }","mergecontext":"","x":1282.0174407958984,"y":190.01043033599854,"wires":[[]]},{"id":"6146958.c1a0d6c","type":"server-state-changed","z":"942d21a2.f8f1","name":"YOUTUBE","server":"cc970140.c73bf","entityidfilter":"input_boolean.basement_tv_youtube","entityidfiltertype":"substring","haltifstate":"off","x":1043.0174713134766,"y":299.0104160308838,"wires":[["8a39f45f.8df988"]]},{"id":"8a39f45f.8df988","type":"http request","z":"942d21a2.f8f1","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.5:8060/launch/837","tls":"","x":1169.0174713134766,"y":299.0104160308838,"wires":[["cf6d1d45.ce50a"]]},{"id":"cf6d1d45.ce50a","type":"api-call-service","z":"942d21a2.f8f1","name":"OFF","server":"cc970140.c73bf","service_domain":"input_boolean","service":"turn_off","data":"{  \"entity_id\": \"input_boolean.basement_tv_youtube\" }","mergecontext":"","x":1288.0174713134766,"y":298.0104160308838,"wires":[[]]},{"id":"6ee83c32.5fce24","type":"server-state-changed","z":"942d21a2.f8f1","name":"NICK","server":"cc970140.c73bf","entityidfilter":"input_boolean.basement_tv_nick","entityidfiltertype":"substring","haltifstate":"off","x":299.7013854980469,"y":301.0208282470703,"wires":[["89e6e23a.74af5"]]},{"id":"89e6e23a.74af5","type":"http request","z":"942d21a2.f8f1","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.5:8060/launch/66595","tls":"","x":433.7013854980469,"y":301.0208282470703,"wires":[["b6bce4bd.9afc98"]]},{"id":"b6bce4bd.9afc98","type":"api-call-service","z":"942d21a2.f8f1","name":"OFF","server":"cc970140.c73bf","service_domain":"input_boolean","service":"turn_off","data":"{  \"entity_id\": \"input_boolean.basement_tv_nick\" }","mergecontext":"","x":552.7013854980469,"y":300.0208282470703,"wires":[[]]},{"id":"84c4669d.4c4f38","type":"server-state-changed","z":"942d21a2.f8f1","name":"MUTE","server":"cc970140.c73bf","entityidfilter":"input_boolean.basement_tv_mute","entityidfiltertype":"substring","haltifstate":"off","x":288.7013854980469,"y":461.0208282470703,"wires":[["db639581.6e4398"]]},{"id":"55d304f0.a0701c","type":"api-call-service","z":"942d21a2.f8f1","name":"OFF","server":"cc970140.c73bf","service_domain":"input_boolean","service":"turn_off","data":"{ \"entity_id\": \"input_boolean.basement_tv_mute\" }","mergecontext":"","x":549.7013854980469,"y":459.0208282470703,"wires":[[]]},{"id":"e68cb213.6df63","type":"server-state-changed","z":"942d21a2.f8f1","name":"LOWER","server":"cc970140.c73bf","entityidfilter":"input_boolean.basement_tv_lower","entityidfiltertype":"substring","haltifstate":"off","x":683.7013854980469,"y":459.0208282470703,"wires":[["8e1c8d10.c854"]]},{"id":"6acc1de1.caad54","type":"api-call-service","z":"942d21a2.f8f1","name":"OFF","server":"cc970140.c73bf","service_domain":"input_boolean","service":"turn_off","data":"{ \"entity_id\": \"input_boolean.basement_tv_lower\" }","mergecontext":"","x":934.7013854980469,"y":457.0208282470703,"wires":[[]]},{"id":"e73fb8c8.d42998","type":"server-state-changed","z":"942d21a2.f8f1","name":"RAISE","server":"cc970140.c73bf","entityidfilter":"input_boolean.basement_tv_instant_raise","entityidfiltertype":"substring","haltifstate":"off","x":1052.7013854980469,"y":455.0208282470703,"wires":[["88f3658f.b18c38"]]},{"id":"a903e651.920e78","type":"api-call-service","z":"942d21a2.f8f1","name":"OFF","server":"cc970140.c73bf","service_domain":"input_boolean","service":"turn_off","data":"{ \"entity_id\": \"input_boolean.basement_tv_raise\" }","mergecontext":"","x":1313.7013854980469,"y":453.0208282470703,"wires":[[]]},{"id":"db639581.6e4398","type":"http request","z":"942d21a2.f8f1","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.5:8060/keypress/VolumeMute","tls":"","x":418.0173645019531,"y":458.0104064941406,"wires":[["55d304f0.a0701c"]]},{"id":"8e1c8d10.c854","type":"http request","z":"942d21a2.f8f1","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.5:8060/keypress/VolumeDown","tls":"","x":813.017333984375,"y":460.0104064941406,"wires":[["6acc1de1.caad54"]]},{"id":"88f3658f.b18c38","type":"http request","z":"942d21a2.f8f1","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.5:8060/keypress/VolumeUp","tls":"","x":1177.017333984375,"y":454.0104064941406,"wires":[["a903e651.920e78"]]},{"id":"9f2d04c4.54a578","type":"server-state-changed","z":"942d21a2.f8f1","name":"POWER","server":"cc970140.c73bf","entityidfilter":"input_boolean.basement_tv_power","entityidfiltertype":"substring","haltifstate":"off","x":1037.017333984375,"y":65.01041412353516,"wires":[["d5e58c7c.f1bc"]]},{"id":"4ef8adbe.0f99b4","type":"api-call-service","z":"942d21a2.f8f1","name":"OFF","server":"cc970140.c73bf","service_domain":"input_boolean","service":"turn_off","data":"{ \"entity_id\": \"input_boolean.basement_tv_power\" }","mergecontext":"","x":1288.017333984375,"y":63.010414123535156,"wires":[[]]},{"id":"d5e58c7c.f1bc","type":"http request","z":"942d21a2.f8f1","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.5:8060/keypress/PowerOff","tls":"","x":1167.3332405090332,"y":62.99999141693115,"wires":[["4ef8adbe.0f99b4"]]},{"id":"8bd77d5f.6c478","type":"server-state-changed","z":"54768614.456e88","name":"POWER","server":"cc970140.c73bf","entityidfilter":"input_boolean.office_tv_power","entityidfiltertype":"substring","haltifstate":"off","x":849.6840209960938,"y":65.01041412353516,"wires":[["b25af352.6af78"]]},{"id":"b25af352.6af78","type":"api-call-service","z":"54768614.456e88","name":"OFF","server":"cc970140.c73bf","service_domain":"input_boolean","service":"turn_off","data":"{  \"entity_id\": \"input_boolean.office_tv_power\" }","mergecontext":"","x":1088.6840209960938,"y":63.010414123535156,"wires":[[]]},{"id":"dca861a6.9a64e","type":"inject","z":"88557ee1.6f5b7","name":"Garbage Day","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 06 * * 3","once":false,"onceDelay":0.1,"x":128,"y":232,"wires":[["620a49fe.6da378"]]},{"id":"620a49fe.6da378","type":"api-call-service","z":"88557ee1.6f5b7","name":"Notification","server":"cc970140.c73bf","service_domain":"telegram_bot","service":"send_message","data":"{   \"title\": \"*Take Out The Garbage*\",    \"message\": \"It's Wednesday. Time to take out the trash\" }","mergecontext":"","x":498,"y":235,"wires":[[]]},{"id":"8519be34.4850b","type":"server-state-changed","z":"b364fb80.646298","name":"1Col On","server":"cc970140.c73bf","entityidfilter":"input_boolean.show_one_column","entityidfiltertype":"substring","haltifstate":"off","x":105,"y":865,"wires":[["ca2504ba.2e36c8","8c6be5bd.d62538","ac31b3cb.fd307"]]},{"id":"ca2504ba.2e36c8","type":"api-call-service","z":"b364fb80.646298","name":"2Col Off","server":"cc970140.c73bf","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.show_two_columns\"}","mergecontext":"","x":328,"y":797,"wires":[[]]},{"id":"8c6be5bd.d62538","type":"api-call-service","z":"b364fb80.646298","name":"3Col Off","server":"cc970140.c73bf","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.show_three_columns\"}","mergecontext":"","x":319,"y":864,"wires":[[]]},{"id":"ac31b3cb.fd307","type":"api-call-service","z":"b364fb80.646298","name":"4Col Off","server":"cc970140.c73bf","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.show_four_columns\"}","mergecontext":"","x":321,"y":927,"wires":[[]]},{"id":"89ef9cd4.0e181","type":"server-state-changed","z":"b364fb80.646298","name":"2Col On","server":"cc970140.c73bf","entityidfilter":"input_boolean.show_two_columns","entityidfiltertype":"substring","haltifstate":"off","x":101,"y":1052,"wires":[["d2f104ba.c9fbd8","e4a56b29.fe1988","7cf396e3.03ac88"]]},{"id":"d2f104ba.c9fbd8","type":"api-call-service","z":"b364fb80.646298","name":"1Col Off","server":"cc970140.c73bf","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.show_one_column\"}","mergecontext":"","x":324,"y":984,"wires":[[]]},{"id":"e4a56b29.fe1988","type":"api-call-service","z":"b364fb80.646298","name":"3Col Off","server":"cc970140.c73bf","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.show_three_columns\"}","mergecontext":"","x":315,"y":1051,"wires":[[]]},{"id":"7cf396e3.03ac88","type":"api-call-service","z":"b364fb80.646298","name":"4Col Off","server":"cc970140.c73bf","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.show_four_columns\"}","mergecontext":"","x":317,"y":1114,"wires":[[]]},{"id":"8ee49e11.33963","type":"server-state-changed","z":"b364fb80.646298","name":"3Col On","server":"cc970140.c73bf","entityidfilter":"input_boolean.show_three_columns","entityidfiltertype":"substring","haltifstate":"off","x":96,"y":1227,"wires":[["2f929dd.a1e3762","58e1b82c.829ee8","ee2ec44f.43e308"]]},{"id":"2f929dd.a1e3762","type":"api-call-service","z":"b364fb80.646298","name":"2Col Off","server":"cc970140.c73bf","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.show_two_columns\"}","mergecontext":"","x":311,"y":1227,"wires":[[]]},{"id":"58e1b82c.829ee8","type":"api-call-service","z":"b364fb80.646298","name":"4Col Off","server":"cc970140.c73bf","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.show_four_columns\"}","mergecontext":"","x":312,"y":1289,"wires":[[]]},{"id":"2e0411c7.a6d88e","type":"server-state-changed","z":"b364fb80.646298","name":"4Col On","server":"cc970140.c73bf","entityidfilter":"input_boolean.show_four_columns","entityidfiltertype":"substring","haltifstate":"off","x":90,"y":1406,"wires":[["1b4696a9.dc4769","151971ab.1d4fbe","c138e849.242418"]]},{"id":"1b4696a9.dc4769","type":"api-call-service","z":"b364fb80.646298","name":"2Col Off","server":"cc970140.c73bf","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.show_two_columns\"}","mergecontext":"","x":310,"y":1398,"wires":[[]]},{"id":"151971ab.1d4fbe","type":"api-call-service","z":"b364fb80.646298","name":"3Col Off","server":"cc970140.c73bf","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.show_three_columns\"}","mergecontext":"","x":308,"y":1459,"wires":[[]]},{"id":"ee2ec44f.43e308","type":"api-call-service","z":"b364fb80.646298","name":"1Col Off","server":"cc970140.c73bf","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.show_one_column\"}","mergecontext":"","x":312,"y":1172,"wires":[[]]},{"id":"c138e849.242418","type":"api-call-service","z":"b364fb80.646298","name":"1Col Off","server":"cc970140.c73bf","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.show_one_column\"}","mergecontext":"","x":309,"y":1343,"wires":[[]]},{"id":"e78a91dc.6d23c","type":"inject","z":"cd551f89.80ba3","name":"Top of the Hour","topic":"clock","payload":"","payloadType":"date","repeat":"","crontab":"0 9-22 * * *","once":false,"onceDelay":0.1,"x":95,"y":176,"wires":[["94604f34.bfc26"]]},{"id":"4ea2470e.b31fd8","type":"api-current-state","z":"cd551f89.80ba3","name":"Ian","server":"cc970140.c73bf","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"device_tracker.ian_iphone","x":102,"y":225,"wires":[["94604f34.bfc26"]]},{"id":"b36010b4.01fb8","type":"api-current-state","z":"cd551f89.80ba3","name":"Chelsea","server":"cc970140.c73bf","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"device_tracker.chelsea_chelseas_phone","x":102,"y":282,"wires":[["94604f34.bfc26"]]},{"id":"3fdfd279.58766e","type":"api-current-state","z":"cd551f89.80ba3","name":"Speakers","server":"cc970140.c73bf","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"media_player.living_room_speakers","x":101,"y":333,"wires":[["94604f34.bfc26"]]},{"id":"94604f34.bfc26","type":"function","z":"cd551f89.80ba3","name":"Play Chimes?","func":"context.data = context.data || {};\nswitch (msg.topic) {\n    case \"clock\":\n        context.data.clock = msg.payload;\n        msg = null;\n        break;\n    case \"device_tracker.ian_phone\":\n        context.data.ian = msg.payload;\n        msg = null;\n        break;\n    case \"device_tracker.chelsea_chelseas_phone\":\n        context.data.chelsea = msg.payload;\n        msg = null;\n        break;\n    case \"media_player.living_room_speakers\":\n        context.data.speakers = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n        break;\n}\n\nif (context.data.clock !== null &&\n    context.data.ian !== null &&\n    context.data.chelsea !== null &&\n    (context.data.ian.state === 'home' ||\n    context.data.chelsea.state === 'home') &&\n    context.data.speakers !== null &&\n    context.data.speakers !== 'playing') {\n    return {payload:true};\n}\nreturn false;","outputs":1,"noerr":0,"x":337,"y":251,"wires":[["fa209589.0c1348"]]},{"id":"fa209589.0c1348","type":"switch","z":"cd551f89.80ba3","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":524,"y":321,"wires":[["68c8edb4.e407c4","1e020043.29035"]]},{"id":"f059bd9f.22239","type":"inject","z":"15d09366.32790d","name":"Weekdays","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 22 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"x":132,"y":156,"wires":[["29ff9f30.7a73a"]]},{"id":"1a8395b5.ecca6a","type":"inject","z":"15d09366.32790d","name":"Weekends","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 00 * * 6,0","once":false,"onceDelay":0.1,"x":134,"y":246,"wires":[["29ff9f30.7a73a"]]},{"id":"29ff9f30.7a73a","type":"api-current-state","z":"15d09366.32790d","name":"Office Light On?","server":"cc970140.c73bf","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"switch.switch","x":344,"y":197,"wires":[["5fd3a920.84c188"]]},{"id":"5fd3a920.84c188","type":"api-call-service","z":"15d09366.32790d","name":"Turn off light","server":"cc970140.c73bf","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.switch\"}","mergecontext":"","x":586,"y":197,"wires":[[]]},{"id":"d70ecd28.e49b4","type":"inject","z":"fe7a5da1.b8a4b","name":"Weekdays","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 06 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"x":128,"y":208,"wires":[["ec1c9bd3.0d3d18"]]},{"id":"fcfecb58.625778","type":"inject","z":"fe7a5da1.b8a4b","name":"Weekends","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 08 * * 6,0","once":false,"onceDelay":0.1,"x":129,"y":304,"wires":[["ec1c9bd3.0d3d18"]]},{"id":"67c4bb70.a615c4","type":"api-current-state","z":"fe7a5da1.b8a4b","name":"Ian","server":"cc970140.c73bf","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"device_tracker.ian_iphone","x":113,"y":368,"wires":[["ec1c9bd3.0d3d18"]]},{"id":"159e28ce.5487e7","type":"api-current-state","z":"fe7a5da1.b8a4b","name":"Chelsea","server":"cc970140.c73bf","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"device_tracker.chelsea_chelseas_phone","x":115,"y":433,"wires":[["ec1c9bd3.0d3d18"]]},{"id":"ec1c9bd3.0d3d18","type":"function","z":"fe7a5da1.b8a4b","name":"Someone Home?","func":"context.data = context.data || {};\nswitch (msg.topic) {\n    case \"clock\":\n        context.data.clock = msg.payload;\n        msg = null;\n        break;\n    case \"device_tracker.ian_phone\":\n        context.data.ian = msg.payload;\n        msg = null;\n        break;\n    case \"device_tracker.chelsea_chelseas_phone\":\n        context.data.chelsea = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n        break;\n}\n\nif (context.data.clock !== null &&\n    context.data.ian !== null &&\n    context.data.chelsea !== null &&\n    (context.data.ian.state === 'home' ||\n    context.data.chelsea.state === 'home')) {\n    return {payload:true};\n}\nreturn false;","outputs":1,"noerr":0,"x":388,"y":320,"wires":[["24b84843.5f9e08"]]},{"id":"24b84843.5f9e08","type":"api-call-service","z":"fe7a5da1.b8a4b","name":"Set Volume","server":"cc970140.c73bf","service_domain":"media_player","service":"volume_set","data":"{\"entity_id\": \"media_player.upper_main_floor\",\"volume_level\":\"0..2\"}","mergecontext":"","x":587,"y":274,"wires":[["1b92524a.781a0e"]]},{"id":"1b92524a.781a0e","type":"looptimer","z":"fe7a5da1.b8a4b","duration":"5","units":"Second","maxloops":"100","maxtimeout":"1","maxtimeoutunits":"Hour","name":"","x":771,"y":317,"wires":[[],["84aa8c78.3435d"]]},{"id":"84aa8c78.3435d","type":"api-call-service","z":"fe7a5da1.b8a4b","name":"Play NPR","server":"cc970140.c73bf","service_domain":"media_player","service":"play_media","data":"{\"entity_id\":\"media_player.upper_main_floor\",\"media_content_type\":\"audio/mp3\",\"media_content_id\":\"http://18243.live.streamtheworld.com:3690/KIOSFM_SC\"}","mergecontext":"","x":950,"y":277,"wires":[[]]},{"id":"9c277294.728fc","type":"function","z":"fe7a5da1.b8a4b","name":"Is today a holiday?","func":"// Create a Date object from the payload\nvar countrycode = \"dnk\"\nvar pre= \"https://kayaposoft.com/enrico/json/v2.0/?action=isPublicHoliday&date=\"\nvar post =\"&country=\"\n\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\n// Return the message so it can be sent on\n\n// month and day\nvar month = date.getMonth() +1;\nvar day= date.getDate();\nvar year = date.getFullYear();\nvar today = day+\"-\"+month+\"-\"+year\nmsg.payload = pre+today+post+countrycode\nreturn msg;","outputs":1,"noerr":0,"x":397,"y":188,"wires":[[]]},{"id":"d6965764.e25348","type":"inject","z":"74981d59.188b04","name":"Force","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":204,"y":346,"wires":[["ab756fca.2fbe7"]]},{"id":"5ac592f5.88e6bc","type":"debug","z":"74981d59.188b04","name":"output","active":true,"console":"false","complete":"true","x":796,"y":274,"wires":[]},{"id":"fb1fa4f6.16c378","type":"function","z":"74981d59.188b04","name":"timeConvert","func":"if ( !msg.timestamp ) msg.timestamp = Math.round(+new Date());\n\nvar dt = new Date(msg.timestamp);\nvar msg = {\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate(),\n\t'year':\t\tdt.getFullYear(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'msecs':\tdt.getMilliseconds()\n}\n\nreturn msg;","outputs":1,"x":600,"y":274,"wires":[["5ac592f5.88e6bc"]]},{"id":"ab756fca.2fbe7","type":"function","z":"74981d59.188b04","name":"set timestamp","func":"msg.timestamp=1376763133 * 1000;\nreturn msg;","outputs":1,"noerr":0,"x":388,"y":346,"wires":[["fb1fa4f6.16c378"]]},{"id":"ccf50bae.7aafa8","type":"inject","z":"74981d59.188b04","name":"Force","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":204,"y":274,"wires":[["fb1fa4f6.16c378"]]},{"id":"34fc68e7.3bbd88","type":"change","z":"74981d59.188b04","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":801,"y":214,"wires":[[]]},{"id":"1e020043.29035","type":"change","z":"cd551f89.80ba3","name":"now","rules":[{"t":"set","p":"payload","pt":"msg","to":"$now()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":659,"y":257,"wires":[["c27de43a.941f08"]]},{"id":"68c8edb4.e407c4","type":"debug","z":"cd551f89.80ba3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":678,"y":364,"wires":[]},{"id":"c27de43a.941f08","type":"function","z":"cd551f89.80ba3","name":"Get Hour","func":"if ( !msg.timestamp ) msg.timestamp = Math.round(+new Date());\n\nvar dt = new Date(msg.timestamp);\n\nreturn dt.getHours();","outputs":1,"noerr":0,"x":823,"y":309,"wires":[["89dde3b4.cca7"]]},{"id":"89dde3b4.cca7","type":"api-call-service","z":"cd551f89.80ba3","name":"Volume","server":"cc970140.c73bf","service_domain":"media_player","service":"volume_set","data":"{\"entity_id\":\"media_player.living_room_speakers\", \"volume_level\": 0.20}","mergecontext":"","x":997,"y":259,"wires":[["5c947fed.a9f22"]]},{"id":"5c947fed.a9f22","type":"looptimer","z":"cd551f89.80ba3","duration":"5","units":"Second","maxloops":"100","maxtimeout":"1","maxtimeoutunits":"Hour","name":"","x":1166,"y":304,"wires":[["b560bc6a.10a04"],[]]},{"id":"b560bc6a.10a04","type":"api-call-service","z":"cd551f89.80ba3","name":"Chime","server":"cc970140.c73bf","service_domain":"media_player","service":"play_media","data":"{\"entity_id\": \"media_player.living_room_speakers\", \"media_content_type\": \"audio/mp4\", \"media_content_id\": \"https://github.com/iantrich/hassio_config/blob/master/www/GrandFatherChime.wav\"}","mergecontext":"","x":1354,"y":254,"wires":[[]]}]