node-red/.flows.json.backup
[{"id":"8f50b4b.f14fb48","type":"tab","label":"Office Roku Flow","disabled":false,"info":""},{"id":"e9f5c56c.2149e8","type":"tab","label":"Basement Roku Flow","disabled":false,"info":""},{"id":"67f15bc1.e54454","type":"tab","label":"Garbage Day","disabled":false,"info":""},{"id":"7a0cfb6d.2e95f4","type":"tab","label":"Show LL Columns","disabled":false,"info":""},{"id":"3b4eab14.57a2b4","type":"tab","label":"Grandfather Clock","disabled":false,"info":""},{"id":"8434a9b2.ad13b8","type":"tab","label":"Good Night","disabled":false,"info":""},{"id":"26d4023e.7b419e","type":"tab","label":"Good Morning","disabled":false,"info":"Should check for holidays and should play to master bedroom as well"},{"id":"f52b0377.d1fb3","type":"server","z":"","name":"Home Assistant","url":"http://hassio/homeassistant","pass":"c3e3f4f223e8431f8fbf121876c6e19b"},{"id":"88f37aec.0bd8f8","type":"server","z":"","name":"Home Assistant","url":"http://hassio/homeassistant","pass":"9233f3d78d5f4f779f5cb68b90e5e1df"},{"id":"9fa2d1e0.3df92","type":"server-state-changed","z":"8f50b4b.f14fb48","name":"BACK","server":"88f37aec.0bd8f8","entityidfilter":"input_boolean.office_tv_back","entityidfiltertype":"substring","haltifstate":"off","x":121,"y":126,"wires":[["8803811a.b1673"]]},{"id":"8803811a.b1673","type":"http request","z":"8f50b4b.f14fb48","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.4:8060/keypress/Back","tls":"","x":237,"y":126,"wires":[["47d7bfbf.82772"]]},{"id":"47d7bfbf.82772","type":"api-call-service","z":"8f50b4b.f14fb48","name":"OFF","server":"88f37aec.0bd8f8","service_domain":"input_boolean","service":"turn_off","data":"{  \"entity_id\": \"input_boolean.office_tv_back\" }","mergecontext":"","x":356,"y":125,"wires":[[]]},{"id":"210bd6be.d9a80a","type":"server-state-changed","z":"8f50b4b.f14fb48","name":"LEFT","server":"88f37aec.0bd8f8","entityidfilter":"input_boolean.office_tv_left","entityidfiltertype":"substring","haltifstate":"off","x":120,"y":239,"wires":[["45e77d21.907e84"]]},{"id":"45e77d21.907e84","type":"http request","z":"8f50b4b.f14fb48","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.4:8060/keypress/Left","tls":"","x":239,"y":239,"wires":[["33989ddc.e0a952"]]},{"id":"33989ddc.e0a952","type":"api-call-service","z":"8f50b4b.f14fb48","name":"OFF","server":"88f37aec.0bd8f8","service_domain":"input_boolean","service":"turn_off","data":"{ \"entity_id\": \"input_boolean.office_tv_left\" }","mergecontext":"","x":357,"y":239,"wires":[[]]},{"id":"adc4a97d.bb5a58","type":"server-state-changed","z":"8f50b4b.f14fb48","name":"RIGHT","server":"88f37aec.0bd8f8","entityidfilter":"input_boolean.office_tv_right","entityidfiltertype":"substring","haltifstate":"off","x":841,"y":232,"wires":[["afb46b17.7007d8"]]},{"id":"b57c196.233f4e8","type":"server-state-changed","z":"8f50b4b.f14fb48","name":"UP","server":"88f37aec.0bd8f8","entityidfilter":"input_boolean.office_tv_up","entityidfiltertype":"substring","haltifstate":"off","x":475,"y":187,"wires":[["a8cc1ed0.eb2c4"]]},{"id":"485b71ac.7b27b","type":"server-state-changed","z":"8f50b4b.f14fb48","name":"DOWN","server":"88f37aec.0bd8f8","entityidfilter":"input_boolean.office_tv_down","entityidfiltertype":"substring","haltifstate":"off","x":476,"y":296,"wires":[["9833b8bc.656cf8"]]},{"id":"d0ba33a5.07453","type":"server-state-changed","z":"8f50b4b.f14fb48","name":"PLAY","server":"88f37aec.0bd8f8","entityidfilter":"input_boolean.office_tv_play","entityidfiltertype":"substring","haltifstate":"off","x":475,"y":351,"wires":[["a0b3550f.65a548"]]},{"id":"a5bc16c0.d55628","type":"server-state-changed","z":"8f50b4b.f14fb48","name":"SELECT","server":"88f37aec.0bd8f8","entityidfilter":"input_boolean.office_tv_select","entityidfiltertype":"substring","haltifstate":"off","x":477,"y":239,"wires":[["f93d64a2.215d48"]]},{"id":"321c28b7.91db08","type":"server-state-changed","z":"8f50b4b.f14fb48","name":"REPLAY","server":"88f37aec.0bd8f8","entityidfilter":"input_boolean.office_tv_instant_replay","entityidfiltertype":"substring","haltifstate":"off","x":109,"y":401,"wires":[["bea8b9e3.57dad8"]]},{"id":"99875021.2e60a","type":"server-state-changed","z":"8f50b4b.f14fb48","name":"HOME","server":"88f37aec.0bd8f8","entityidfilter":"input_boolean.office_tv_home","entityidfiltertype":"substring","haltifstate":"off","x":840,"y":121,"wires":[["16c2bee6.551ca1"]]},{"id":"8394fbb0.940b08","type":"server-state-changed","z":"8f50b4b.f14fb48","name":"FORWARD","server":"88f37aec.0bd8f8","entityidfilter":"input_boolean.office_tv_forward","entityidfiltertype":"substring","haltifstate":"off","x":863,"y":345,"wires":[["cb0599f9.6a0e98"]]},{"id":"4605bf50.bc24c","type":"server-state-changed","z":"8f50b4b.f14fb48","name":"REWIND","server":"88f37aec.0bd8f8","entityidfilter":"input_boolean.office_tv_rewind","entityidfiltertype":"substring","haltifstate":"off","x":112,"y":348,"wires":[["c7974ed0.f1c1"]]},{"id":"7068249c.2bad0c","type":"server-state-changed","z":"8f50b4b.f14fb48","name":"INFO","server":"88f37aec.0bd8f8","entityidfilter":"input_boolean.office_tv_info","entityidfiltertype":"substring","haltifstate":"off","x":476,"y":122,"wires":[["8d04f6b8.1c6278"]]},{"id":"8d04f6b8.1c6278","type":"http request","z":"8f50b4b.f14fb48","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.4:8060/keypress/Info","tls":"","x":600,"y":123,"wires":[["391dea50.71cc26"]]},{"id":"afb46b17.7007d8","type":"http request","z":"8f50b4b.f14fb48","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.4:8060/keypress/Right","tls":"","x":960,"y":231,"wires":[["13945f86.f73bc"]]},{"id":"391dea50.71cc26","type":"api-call-service","z":"8f50b4b.f14fb48","name":"OFF","server":"88f37aec.0bd8f8","service_domain":"input_boolean","service":"turn_off","data":"{  \"entity_id\": \"input_boolean.office_tv_info\" }","mergecontext":"","x":719,"y":122,"wires":[[]]},{"id":"16c2bee6.551ca1","type":"http request","z":"8f50b4b.f14fb48","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.4:8060/keypress/Home","tls":"","x":961,"y":120,"wires":[["34516eb0.0f9902"]]},{"id":"34516eb0.0f9902","type":"api-call-service","z":"8f50b4b.f14fb48","name":"OFF","server":"88f37aec.0bd8f8","service_domain":"input_boolean","service":"turn_off","data":"{  \"entity_id\": \"input_boolean.office_tv_home\" }","mergecontext":"","x":1089,"y":119,"wires":[[]]},{"id":"a8cc1ed0.eb2c4","type":"http request","z":"8f50b4b.f14fb48","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.4:8060/keypress/Up","tls":"","x":604,"y":187,"wires":[["f6b91312.d8c31"]]},{"id":"f6b91312.d8c31","type":"api-call-service","z":"8f50b4b.f14fb48","name":"OFF","server":"88f37aec.0bd8f8","service_domain":"input_boolean","service":"turn_off","data":"{  \"entity_id\": \"input_boolean.office_tv_up\" }","mergecontext":"","x":727,"y":187,"wires":[[]]},{"id":"f93d64a2.215d48","type":"http request","z":"8f50b4b.f14fb48","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.4:8060/keypress/Select","tls":"","x":605,"y":238,"wires":[["5b6e114e.0a68e"]]},{"id":"5b6e114e.0a68e","type":"api-call-service","z":"8f50b4b.f14fb48","name":"OFF","server":"88f37aec.0bd8f8","service_domain":"input_boolean","service":"turn_off","data":"{  \"entity_id\": \"input_boolean.office_tv_select\" }","mergecontext":"","x":724,"y":237,"wires":[[]]},{"id":"13945f86.f73bc","type":"api-call-service","z":"8f50b4b.f14fb48","name":"OFF","server":"88f37aec.0bd8f8","service_domain":"input_boolean","service":"turn_off","data":"{  \"entity_id\": \"input_boolean.office_tv_right\" }","mergecontext":"","x":1080,"y":230,"wires":[[]]},{"id":"9833b8bc.656cf8","type":"http request","z":"8f50b4b.f14fb48","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.4:8060/keypress/Down","tls":"","x":603,"y":296,"wires":[["f01543a1.a7ac5"]]},{"id":"f01543a1.a7ac5","type":"api-call-service","z":"8f50b4b.f14fb48","name":"OFF","server":"88f37aec.0bd8f8","service_domain":"input_boolean","service":"turn_off","data":"{  \"entity_id\": \"input_boolean.office_tv_down\" }","mergecontext":"","x":726,"y":296,"wires":[[]]},{"id":"a0b3550f.65a548","type":"http request","z":"8f50b4b.f14fb48","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.4:8060/keypress/Play","tls":"","x":601,"y":351,"wires":[["770ca83f.0ba238"]]},{"id":"770ca83f.0ba238","type":"api-call-service","z":"8f50b4b.f14fb48","name":"OFF","server":"88f37aec.0bd8f8","service_domain":"input_boolean","service":"turn_off","data":"{  \"entity_id\": \"input_boolean.office_tv_play\" }","mergecontext":"","x":726,"y":351,"wires":[[]]},{"id":"cb0599f9.6a0e98","type":"http request","z":"8f50b4b.f14fb48","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.4:8060/keypress/Fwd","tls":"","x":1003,"y":344,"wires":[["b504bcca.15dd2"]]},{"id":"b504bcca.15dd2","type":"api-call-service","z":"8f50b4b.f14fb48","name":"OFF","server":"88f37aec.0bd8f8","service_domain":"input_boolean","service":"turn_off","data":"{  \"entity_id\": \"input_boolean.office_tv_forward\" }","mergecontext":"","x":1130,"y":343,"wires":[[]]},{"id":"f8362fe9.7bd7d","type":"api-call-service","z":"8f50b4b.f14fb48","name":"OFF","server":"88f37aec.0bd8f8","service_domain":"input_boolean","service":"turn_off","data":"{ \"entity_id\": \"input_boolean.office_tv_rewind\" }","mergecontext":"","x":356,"y":349,"wires":[[]]},{"id":"c7974ed0.f1c1","type":"http request","z":"8f50b4b.f14fb48","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.4:8060/keypress/Rev","tls":"","x":240,"y":348,"wires":[["f8362fe9.7bd7d"]]},{"id":"bea8b9e3.57dad8","type":"http request","z":"8f50b4b.f14fb48","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.4:8060/keypress/InstantReplay","tls":"","x":242,"y":400,"wires":[["a361abbb.dc9528"]]},{"id":"a361abbb.dc9528","type":"api-call-service","z":"8f50b4b.f14fb48","name":"OFF","server":"88f37aec.0bd8f8","service_domain":"input_boolean","service":"turn_off","data":"{ \"entity_id\": \"input_boolean.office_tv_instant_replay\" }","mergecontext":"","x":360,"y":399,"wires":[[]]},{"id":"97c99799.433f38","type":"server-state-changed","z":"8f50b4b.f14fb48","name":"NETFLIX","server":"88f37aec.0bd8f8","entityidfilter":"input_boolean.office_tv_netflix","entityidfiltertype":"substring","haltifstate":"off","x":106.99999237060547,"y":188.00000762939453,"wires":[["ab9add3a.7e1e8"]]},{"id":"ab9add3a.7e1e8","type":"http request","z":"8f50b4b.f14fb48","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.4:8060/launch/12","tls":"","x":236.99999237060547,"y":188.00000762939453,"wires":[["65ef86a3.94d738"]]},{"id":"65ef86a3.94d738","type":"api-call-service","z":"8f50b4b.f14fb48","name":"OFF","server":"88f37aec.0bd8f8","service_domain":"input_boolean","service":"turn_off","data":"{  \"entity_id\": \"input_boolean.office_tv_netflix\" }","mergecontext":"","x":355.99999237060547,"y":187.00000762939453,"wires":[[]]},{"id":"f679f178.02558","type":"server-state-changed","z":"8f50b4b.f14fb48","name":"DISNEY","server":"88f37aec.0bd8f8","entityidfilter":"input_boolean.office_tv_disney","entityidfiltertype":"substring","haltifstate":"off","x":848.0000762939453,"y":187.00000858306885,"wires":[["e67769b3.4ab368"]]},{"id":"e67769b3.4ab368","type":"http request","z":"8f50b4b.f14fb48","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.4:8060/launch/32828","tls":"","x":972.0000762939453,"y":187.00000858306885,"wires":[["e0e78e2a.75b42"]]},{"id":"e0e78e2a.75b42","type":"api-call-service","z":"8f50b4b.f14fb48","name":"OFF","server":"88f37aec.0bd8f8","service_domain":"input_boolean","service":"turn_off","data":"{  \"entity_id\": \"input_boolean.office_tv_disney\" }","mergecontext":"","x":1091.0000762939453,"y":186.00000858306885,"wires":[[]]},{"id":"ae408990.cbffd8","type":"server-state-changed","z":"8f50b4b.f14fb48","name":"YOUTUBE","server":"88f37aec.0bd8f8","entityidfilter":"input_boolean.office_tv_youtube","entityidfiltertype":"substring","haltifstate":"off","x":852.0001068115234,"y":294.9999942779541,"wires":[["2d353438.30ec6c"]]},{"id":"2d353438.30ec6c","type":"http request","z":"8f50b4b.f14fb48","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.4:8060/launch/837","tls":"","x":978.0001068115234,"y":294.9999942779541,"wires":[["21e520bb.4feb5"]]},{"id":"21e520bb.4feb5","type":"api-call-service","z":"8f50b4b.f14fb48","name":"OFF","server":"88f37aec.0bd8f8","service_domain":"input_boolean","service":"turn_off","data":"{  \"entity_id\": \"input_boolean.office_tv_youtube\" }","mergecontext":"","x":1097.0001068115234,"y":293.9999942779541,"wires":[[]]},{"id":"96e31c29.feb3f","type":"server-state-changed","z":"8f50b4b.f14fb48","name":"NICK","server":"88f37aec.0bd8f8","entityidfilter":"input_boolean.office_tv_nick","entityidfiltertype":"substring","haltifstate":"off","x":108.68402099609375,"y":297.0104064941406,"wires":[["152c7abc.f67f55"]]},{"id":"152c7abc.f67f55","type":"http request","z":"8f50b4b.f14fb48","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.4:8060/launch/66595","tls":"","x":242.68402099609375,"y":297.0104064941406,"wires":[["9bf4bdc1.fbd45"]]},{"id":"9bf4bdc1.fbd45","type":"api-call-service","z":"8f50b4b.f14fb48","name":"OFF","server":"88f37aec.0bd8f8","service_domain":"input_boolean","service":"turn_off","data":"{  \"entity_id\": \"input_boolean.office_tv_nick\" }","mergecontext":"","x":361.68402099609375,"y":296.0104064941406,"wires":[[]]},{"id":"9f5eaed.a1a955","type":"server-state-changed","z":"8f50b4b.f14fb48","name":"MUTE","server":"88f37aec.0bd8f8","entityidfilter":"input_boolean.office_tv_mute","entityidfiltertype":"substring","haltifstate":"off","x":97.68402099609375,"y":457.0104064941406,"wires":[["358dfa72.3a1f96"]]},{"id":"358dfa72.3a1f96","type":"api-call-service","z":"8f50b4b.f14fb48","name":"OFF","server":"88f37aec.0bd8f8","service_domain":"input_boolean","service":"turn_off","data":"{ \"entity_id\": \"input_boolean.office_tv_mute\" }","mergecontext":"","x":358.68402099609375,"y":455.0104064941406,"wires":[[]]},{"id":"9eafa8f8.21d668","type":"server-state-changed","z":"8f50b4b.f14fb48","name":"LOWER","server":"88f37aec.0bd8f8","entityidfilter":"input_boolean.office_tv_lower","entityidfiltertype":"substring","haltifstate":"off","x":492.68402099609375,"y":455.0104064941406,"wires":[["a7a7e87f.d50788"]]},{"id":"a7a7e87f.d50788","type":"api-call-service","z":"8f50b4b.f14fb48","name":"OFF","server":"88f37aec.0bd8f8","service_domain":"input_boolean","service":"turn_off","data":"{ \"entity_id\": \"input_boolean.office_tv_lower\" }","mergecontext":"","x":743.6840209960938,"y":453.0104064941406,"wires":[[]]},{"id":"442a8671.798af8","type":"server-state-changed","z":"8f50b4b.f14fb48","name":"RAISE","server":"88f37aec.0bd8f8","entityidfilter":"input_boolean.office_tv_instant_raise","entityidfiltertype":"substring","haltifstate":"off","x":861.6840209960938,"y":451.0104064941406,"wires":[["b9f6e4c0.c668b8"]]},{"id":"b9f6e4c0.c668b8","type":"api-call-service","z":"8f50b4b.f14fb48","name":"OFF","server":"88f37aec.0bd8f8","service_domain":"input_boolean","service":"turn_off","data":"{ \"entity_id\": \"input_boolean.office_tv_raise\" }","mergecontext":"","x":1122.6840209960938,"y":449.0104064941406,"wires":[[]]},{"id":"9383a2b8.70b0a","type":"server-state-changed","z":"e9f5c56c.2149e8","name":"BACK","server":"88f37aec.0bd8f8","entityidfilter":"input_boolean.basement_tv_back","entityidfiltertype":"substring","haltifstate":"off","x":312.0173645019531,"y":130.0104217529297,"wires":[["4ef2453.0820dbc"]]},{"id":"4ef2453.0820dbc","type":"http request","z":"e9f5c56c.2149e8","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.5:8060/keypress/Back","tls":"","x":428.0173645019531,"y":130.0104217529297,"wires":[["8f5821be.38691"]]},{"id":"8f5821be.38691","type":"api-call-service","z":"e9f5c56c.2149e8","name":"OFF","server":"88f37aec.0bd8f8","service_domain":"input_boolean","service":"turn_off","data":"{  \"entity_id\": \"input_boolean.basement_tv_back\" }","mergecontext":"","x":547.0173645019531,"y":129.0104217529297,"wires":[[]]},{"id":"7f70cbc2.9b1014","type":"server-state-changed","z":"e9f5c56c.2149e8","name":"LEFT","server":"88f37aec.0bd8f8","entityidfilter":"input_boolean.basement_tv_left","entityidfiltertype":"substring","haltifstate":"off","x":311.0173645019531,"y":243.0104217529297,"wires":[["1a4fd7aa.182ec8"]]},{"id":"1a4fd7aa.182ec8","type":"http request","z":"e9f5c56c.2149e8","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.5:8060/keypress/Left","tls":"","x":430.0173645019531,"y":243.0104217529297,"wires":[["6bc67aa5.7cd344"]]},{"id":"6bc67aa5.7cd344","type":"api-call-service","z":"e9f5c56c.2149e8","name":"OFF","server":"88f37aec.0bd8f8","service_domain":"input_boolean","service":"turn_off","data":"{ \"entity_id\": \"input_boolean.basement_tv_left\" }","mergecontext":"","x":548.0173645019531,"y":243.0104217529297,"wires":[[]]},{"id":"8daf46b5.c3df58","type":"server-state-changed","z":"e9f5c56c.2149e8","name":"RIGHT","server":"88f37aec.0bd8f8","entityidfilter":"input_boolean.basement_tv_right","entityidfiltertype":"substring","haltifstate":"off","x":1032.0173645019531,"y":236.0104217529297,"wires":[["a8c44f92.e1ceb"]]},{"id":"74321369.5ba24c","type":"server-state-changed","z":"e9f5c56c.2149e8","name":"UP","server":"88f37aec.0bd8f8","entityidfilter":"input_boolean.basement_tv_up","entityidfiltertype":"substring","haltifstate":"off","x":666.0173645019531,"y":191.0104217529297,"wires":[["a14986f3.f22e58"]]},{"id":"a980888b.df3628","type":"server-state-changed","z":"e9f5c56c.2149e8","name":"DOWN","server":"88f37aec.0bd8f8","entityidfilter":"input_boolean.basement_tv_down","entityidfiltertype":"substring","haltifstate":"off","x":667.0173645019531,"y":300.0104217529297,"wires":[["817b284d.bc9cc8"]]},{"id":"ae98d0f9.eb8f3","type":"server-state-changed","z":"e9f5c56c.2149e8","name":"PLAY","server":"88f37aec.0bd8f8","entityidfilter":"input_boolean.basement_tv_play","entityidfiltertype":"substring","haltifstate":"off","x":666.0173645019531,"y":355.0104217529297,"wires":[["f35bdbec.df22e8"]]},{"id":"f4369bec.913848","type":"server-state-changed","z":"e9f5c56c.2149e8","name":"SELECT","server":"88f37aec.0bd8f8","entityidfilter":"input_boolean.basement_tv_select","entityidfiltertype":"substring","haltifstate":"off","x":668.0173645019531,"y":243.0104217529297,"wires":[["a6c0ec34.c3f5b"]]},{"id":"25004e45.88bb52","type":"server-state-changed","z":"e9f5c56c.2149e8","name":"REPLAY","server":"88f37aec.0bd8f8","entityidfilter":"input_boolean.basement_tv_instant_replay","entityidfiltertype":"substring","haltifstate":"off","x":300.0173645019531,"y":405.0104217529297,"wires":[["2895f43.4b6c80c"]]},{"id":"688a06a8.8444c8","type":"server-state-changed","z":"e9f5c56c.2149e8","name":"HOME","server":"88f37aec.0bd8f8","entityidfilter":"input_boolean.basement_tv_home","entityidfiltertype":"substring","haltifstate":"off","x":1031.0173645019531,"y":125.01042175292969,"wires":[["536a3d42.64a4e4"]]},{"id":"9c244aea.2db338","type":"server-state-changed","z":"e9f5c56c.2149e8","name":"FORWARD","server":"88f37aec.0bd8f8","entityidfilter":"input_boolean.basement_tv_forward","entityidfiltertype":"substring","haltifstate":"off","x":1054.0173645019531,"y":349.0104217529297,"wires":[["3d7aa890.36f058"]]},{"id":"22aa53e5.33355c","type":"server-state-changed","z":"e9f5c56c.2149e8","name":"REWIND","server":"88f37aec.0bd8f8","entityidfilter":"input_boolean.basement_tv_rewind","entityidfiltertype":"substring","haltifstate":"off","x":303.0173645019531,"y":352.0104217529297,"wires":[["e6f6d4a4.ea0708"]]},{"id":"7f3c2214.bb5cbc","type":"server-state-changed","z":"e9f5c56c.2149e8","name":"INFO","server":"88f37aec.0bd8f8","entityidfilter":"input_boolean.basement_tv_info","entityidfiltertype":"substring","haltifstate":"off","x":667.0173645019531,"y":126.01042175292969,"wires":[["ee816edd.e590d"]]},{"id":"ee816edd.e590d","type":"http request","z":"e9f5c56c.2149e8","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.5:8060/keypress/Info","tls":"","x":791.0173645019531,"y":127.01042175292969,"wires":[["5e48dedc.73179"]]},{"id":"a8c44f92.e1ceb","type":"http request","z":"e9f5c56c.2149e8","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.5:8060/keypress/Right","tls":"","x":1151.0173645019531,"y":235.0104217529297,"wires":[["daa42ff0.eef73"]]},{"id":"5e48dedc.73179","type":"api-call-service","z":"e9f5c56c.2149e8","name":"OFF","server":"88f37aec.0bd8f8","service_domain":"input_boolean","service":"turn_off","data":"{  \"entity_id\": \"input_boolean.basement_tv_info\" }","mergecontext":"","x":910.0173645019531,"y":126.01042175292969,"wires":[[]]},{"id":"536a3d42.64a4e4","type":"http request","z":"e9f5c56c.2149e8","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.5:8060/keypress/Home","tls":"","x":1152.0173645019531,"y":124.01042175292969,"wires":[["70f82af2.22fc44"]]},{"id":"70f82af2.22fc44","type":"api-call-service","z":"e9f5c56c.2149e8","name":"OFF","server":"88f37aec.0bd8f8","service_domain":"input_boolean","service":"turn_off","data":"{  \"entity_id\": \"input_boolean.basement_tv_home\" }","mergecontext":"","x":1280.0173645019531,"y":123.01042175292969,"wires":[[]]},{"id":"a14986f3.f22e58","type":"http request","z":"e9f5c56c.2149e8","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.5:8060/keypress/Up","tls":"","x":795.0173645019531,"y":191.0104217529297,"wires":[["292d0986.42a626"]]},{"id":"292d0986.42a626","type":"api-call-service","z":"e9f5c56c.2149e8","name":"OFF","server":"88f37aec.0bd8f8","service_domain":"input_boolean","service":"turn_off","data":"{  \"entity_id\": \"input_boolean.basement_tv_up\" }","mergecontext":"","x":918.0173645019531,"y":191.0104217529297,"wires":[[]]},{"id":"a6c0ec34.c3f5b","type":"http request","z":"e9f5c56c.2149e8","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.5:8060/keypress/Select","tls":"","x":796.0173645019531,"y":242.0104217529297,"wires":[["78d4fdf7.529794"]]},{"id":"78d4fdf7.529794","type":"api-call-service","z":"e9f5c56c.2149e8","name":"OFF","server":"88f37aec.0bd8f8","service_domain":"input_boolean","service":"turn_off","data":"{  \"entity_id\": \"input_boolean.basement_tv_select\" }","mergecontext":"","x":915.0173645019531,"y":241.0104217529297,"wires":[[]]},{"id":"daa42ff0.eef73","type":"api-call-service","z":"e9f5c56c.2149e8","name":"OFF","server":"88f37aec.0bd8f8","service_domain":"input_boolean","service":"turn_off","data":"{  \"entity_id\": \"input_boolean.basement_tv_right\" }","mergecontext":"","x":1271.0173645019531,"y":234.0104217529297,"wires":[[]]},{"id":"817b284d.bc9cc8","type":"http request","z":"e9f5c56c.2149e8","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.5:8060/keypress/Down","tls":"","x":794.0173645019531,"y":300.0104217529297,"wires":[["9e98c611.5c8cb8"]]},{"id":"9e98c611.5c8cb8","type":"api-call-service","z":"e9f5c56c.2149e8","name":"OFF","server":"88f37aec.0bd8f8","service_domain":"input_boolean","service":"turn_off","data":"{  \"entity_id\": \"input_boolean.basement_tv_down\" }","mergecontext":"","x":917.0173645019531,"y":300.0104217529297,"wires":[[]]},{"id":"f35bdbec.df22e8","type":"http request","z":"e9f5c56c.2149e8","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.5:8060/keypress/Play","tls":"","x":792.0173645019531,"y":355.0104217529297,"wires":[["724257da.f29ea8"]]},{"id":"724257da.f29ea8","type":"api-call-service","z":"e9f5c56c.2149e8","name":"OFF","server":"88f37aec.0bd8f8","service_domain":"input_boolean","service":"turn_off","data":"{  \"entity_id\": \"input_boolean.basement_tv_play\" }","mergecontext":"","x":917.0173645019531,"y":355.0104217529297,"wires":[[]]},{"id":"3d7aa890.36f058","type":"http request","z":"e9f5c56c.2149e8","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.5:8060/keypress/Fwd","tls":"","x":1194.0173645019531,"y":348.0104217529297,"wires":[["4f48a0ff.e27a1"]]},{"id":"4f48a0ff.e27a1","type":"api-call-service","z":"e9f5c56c.2149e8","name":"OFF","server":"88f37aec.0bd8f8","service_domain":"input_boolean","service":"turn_off","data":"{  \"entity_id\": \"input_boolean.basement_tv_forward\" }","mergecontext":"","x":1321.0173645019531,"y":347.0104217529297,"wires":[[]]},{"id":"86a8f4e5.8706b8","type":"api-call-service","z":"e9f5c56c.2149e8","name":"OFF","server":"88f37aec.0bd8f8","service_domain":"input_boolean","service":"turn_off","data":"{ \"entity_id\": \"input_boolean.basement_tv_rewind\" }","mergecontext":"","x":547.0173645019531,"y":353.0104217529297,"wires":[[]]},{"id":"e6f6d4a4.ea0708","type":"http request","z":"e9f5c56c.2149e8","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.5:8060/keypress/Rev","tls":"","x":431.0173645019531,"y":352.0104217529297,"wires":[["86a8f4e5.8706b8"]]},{"id":"2895f43.4b6c80c","type":"http request","z":"e9f5c56c.2149e8","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.5:8060/keypress/InstantReplay","tls":"","x":433.0173645019531,"y":404.0104217529297,"wires":[["42c247c6.6b5ef8"]]},{"id":"42c247c6.6b5ef8","type":"api-call-service","z":"e9f5c56c.2149e8","name":"OFF","server":"88f37aec.0bd8f8","service_domain":"input_boolean","service":"turn_off","data":"{ \"entity_id\": \"input_boolean.basement_tv_instant_replay\" }","mergecontext":"","x":551.0173645019531,"y":403.0104217529297,"wires":[[]]},{"id":"2af55128.0ca3ce","type":"server-state-changed","z":"e9f5c56c.2149e8","name":"NETFLIX","server":"88f37aec.0bd8f8","entityidfilter":"input_boolean.basement_tv_netflix","entityidfiltertype":"substring","haltifstate":"off","x":298.0173568725586,"y":192.01042938232422,"wires":[["e8d292c1.f3a32"]]},{"id":"e8d292c1.f3a32","type":"http request","z":"e9f5c56c.2149e8","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.5:8060/launch/12","tls":"","x":428.0173568725586,"y":192.01042938232422,"wires":[["69741d52.662614"]]},{"id":"69741d52.662614","type":"api-call-service","z":"e9f5c56c.2149e8","name":"OFF","server":"88f37aec.0bd8f8","service_domain":"input_boolean","service":"turn_off","data":"{  \"entity_id\": \"input_boolean.basement_tv_netflix\" }","mergecontext":"","x":547.0173568725586,"y":191.01042938232422,"wires":[[]]},{"id":"3a938fb2.f1a52","type":"server-state-changed","z":"e9f5c56c.2149e8","name":"DISNEY","server":"88f37aec.0bd8f8","entityidfilter":"input_boolean.basement_tv_disney","entityidfiltertype":"substring","haltifstate":"off","x":1039.0174407958984,"y":191.01043033599854,"wires":[["d962c61e.52c7d8"]]},{"id":"d962c61e.52c7d8","type":"http request","z":"e9f5c56c.2149e8","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.5:8060/launch/32828","tls":"","x":1163.0174407958984,"y":191.01043033599854,"wires":[["9f885da.44853a"]]},{"id":"9f885da.44853a","type":"api-call-service","z":"e9f5c56c.2149e8","name":"OFF","server":"88f37aec.0bd8f8","service_domain":"input_boolean","service":"turn_off","data":"{  \"entity_id\": \"input_boolean.basement_tv_disney\" }","mergecontext":"","x":1282.0174407958984,"y":190.01043033599854,"wires":[[]]},{"id":"2c7e6603.643f1a","type":"server-state-changed","z":"e9f5c56c.2149e8","name":"YOUTUBE","server":"88f37aec.0bd8f8","entityidfilter":"input_boolean.basement_tv_youtube","entityidfiltertype":"substring","haltifstate":"off","x":1043.0174713134766,"y":299.0104160308838,"wires":[["2f435df4.991bb2"]]},{"id":"2f435df4.991bb2","type":"http request","z":"e9f5c56c.2149e8","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.5:8060/launch/837","tls":"","x":1169.0174713134766,"y":299.0104160308838,"wires":[["b8e13d51.7604d"]]},{"id":"b8e13d51.7604d","type":"api-call-service","z":"e9f5c56c.2149e8","name":"OFF","server":"88f37aec.0bd8f8","service_domain":"input_boolean","service":"turn_off","data":"{  \"entity_id\": \"input_boolean.basement_tv_youtube\" }","mergecontext":"","x":1288.0174713134766,"y":298.0104160308838,"wires":[[]]},{"id":"b80c1460.f59958","type":"server-state-changed","z":"e9f5c56c.2149e8","name":"NICK","server":"88f37aec.0bd8f8","entityidfilter":"input_boolean.basement_tv_nick","entityidfiltertype":"substring","haltifstate":"off","x":299.7013854980469,"y":301.0208282470703,"wires":[["f9f62cf6.5ca63"]]},{"id":"f9f62cf6.5ca63","type":"http request","z":"e9f5c56c.2149e8","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.5:8060/launch/66595","tls":"","x":433.7013854980469,"y":301.0208282470703,"wires":[["afbae2e9.bae69"]]},{"id":"afbae2e9.bae69","type":"api-call-service","z":"e9f5c56c.2149e8","name":"OFF","server":"88f37aec.0bd8f8","service_domain":"input_boolean","service":"turn_off","data":"{  \"entity_id\": \"input_boolean.basement_tv_nick\" }","mergecontext":"","x":552.7013854980469,"y":300.0208282470703,"wires":[[]]},{"id":"421db0fe.4a285","type":"server-state-changed","z":"e9f5c56c.2149e8","name":"MUTE","server":"88f37aec.0bd8f8","entityidfilter":"input_boolean.basement_tv_mute","entityidfiltertype":"substring","haltifstate":"off","x":288.7013854980469,"y":461.0208282470703,"wires":[["91c5548c.b06af8"]]},{"id":"3bd0beb3.393d42","type":"api-call-service","z":"e9f5c56c.2149e8","name":"OFF","server":"88f37aec.0bd8f8","service_domain":"input_boolean","service":"turn_off","data":"{ \"entity_id\": \"input_boolean.basement_tv_mute\" }","mergecontext":"","x":549.7013854980469,"y":459.0208282470703,"wires":[[]]},{"id":"45047e92.849c3","type":"server-state-changed","z":"e9f5c56c.2149e8","name":"LOWER","server":"88f37aec.0bd8f8","entityidfilter":"input_boolean.basement_tv_lower","entityidfiltertype":"substring","haltifstate":"off","x":683.7013854980469,"y":459.0208282470703,"wires":[["24df3f18.5c682"]]},{"id":"cc7acb88.2a5da8","type":"api-call-service","z":"e9f5c56c.2149e8","name":"OFF","server":"88f37aec.0bd8f8","service_domain":"input_boolean","service":"turn_off","data":"{ \"entity_id\": \"input_boolean.basement_tv_lower\" }","mergecontext":"","x":934.7013854980469,"y":457.0208282470703,"wires":[[]]},{"id":"1fbd70b2.45f0df","type":"server-state-changed","z":"e9f5c56c.2149e8","name":"RAISE","server":"88f37aec.0bd8f8","entityidfilter":"input_boolean.basement_tv_instant_raise","entityidfiltertype":"substring","haltifstate":"off","x":1052.7013854980469,"y":455.0208282470703,"wires":[["fc42cecb.9eaff"]]},{"id":"f4121245.5017","type":"api-call-service","z":"e9f5c56c.2149e8","name":"OFF","server":"88f37aec.0bd8f8","service_domain":"input_boolean","service":"turn_off","data":"{ \"entity_id\": \"input_boolean.basement_tv_raise\" }","mergecontext":"","x":1313.7013854980469,"y":453.0208282470703,"wires":[[]]},{"id":"91c5548c.b06af8","type":"http request","z":"e9f5c56c.2149e8","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.5:8060/keypress/VolumeMute","tls":"","x":418.0173645019531,"y":458.0104064941406,"wires":[["3bd0beb3.393d42"]]},{"id":"24df3f18.5c682","type":"http request","z":"e9f5c56c.2149e8","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.5:8060/keypress/VolumeDown","tls":"","x":813.017333984375,"y":460.0104064941406,"wires":[["cc7acb88.2a5da8"]]},{"id":"fc42cecb.9eaff","type":"http request","z":"e9f5c56c.2149e8","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.5:8060/keypress/VolumeUp","tls":"","x":1177.017333984375,"y":454.0104064941406,"wires":[["f4121245.5017"]]},{"id":"18f89792.0fada8","type":"server-state-changed","z":"e9f5c56c.2149e8","name":"POWER","server":"88f37aec.0bd8f8","entityidfilter":"input_boolean.basement_tv_power","entityidfiltertype":"substring","haltifstate":"off","x":1037.017333984375,"y":65.01041412353516,"wires":[["9592c4f6.ecda78"]]},{"id":"35ace839.8ee018","type":"api-call-service","z":"e9f5c56c.2149e8","name":"OFF","server":"88f37aec.0bd8f8","service_domain":"input_boolean","service":"turn_off","data":"{ \"entity_id\": \"input_boolean.basement_tv_power\" }","mergecontext":"","x":1288.017333984375,"y":63.010414123535156,"wires":[[]]},{"id":"9592c4f6.ecda78","type":"http request","z":"e9f5c56c.2149e8","name":"ROKU","method":"POST","ret":"txt","url":"http://192.168.1.5:8060/keypress/PowerOff","tls":"","x":1167.3332405090332,"y":62.99999141693115,"wires":[["35ace839.8ee018"]]},{"id":"e29a0b0e.91f588","type":"server-state-changed","z":"8f50b4b.f14fb48","name":"POWER","server":"88f37aec.0bd8f8","entityidfilter":"input_boolean.office_tv_power","entityidfiltertype":"substring","haltifstate":"off","x":849.6840209960938,"y":65.01041412353516,"wires":[["1296e28d.2d5fcd"]]},{"id":"1296e28d.2d5fcd","type":"api-call-service","z":"8f50b4b.f14fb48","name":"OFF","server":"88f37aec.0bd8f8","service_domain":"input_boolean","service":"turn_off","data":"{  \"entity_id\": \"input_boolean.office_tv_power\" }","mergecontext":"","x":1088.6840209960938,"y":63.010414123535156,"wires":[[]]},{"id":"69cd6e7a.dc807","type":"inject","z":"67f15bc1.e54454","name":"Garbage Day","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 06 * * 3","once":false,"onceDelay":0.1,"x":128,"y":232,"wires":[["c2aa7ad9.f95158"]]},{"id":"c2aa7ad9.f95158","type":"api-call-service","z":"67f15bc1.e54454","name":"Notification","server":"88f37aec.0bd8f8","service_domain":"telegram_bot","service":"send_message","data":"{   \"title\": \"*Take Out The Garbage*\",    \"message\": \"It's Wednesday. Time to take out the trash\" }","mergecontext":"","x":498,"y":235,"wires":[[]]},{"id":"1ea35f91.9dcb3","type":"server-state-changed","z":"7a0cfb6d.2e95f4","name":"1Col On","server":"88f37aec.0bd8f8","entityidfilter":"input_boolean.show_one_column","entityidfiltertype":"substring","haltifstate":"off","x":105,"y":865,"wires":[["b680a1bd.2a2eb","fb9faccb.79d77","526df7e4.80c6f8"]]},{"id":"b680a1bd.2a2eb","type":"api-call-service","z":"7a0cfb6d.2e95f4","name":"2Col Off","server":"88f37aec.0bd8f8","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.show_two_columns\"}","mergecontext":"","x":328,"y":797,"wires":[[]]},{"id":"fb9faccb.79d77","type":"api-call-service","z":"7a0cfb6d.2e95f4","name":"3Col Off","server":"88f37aec.0bd8f8","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.show_three_columns\"}","mergecontext":"","x":319,"y":864,"wires":[[]]},{"id":"526df7e4.80c6f8","type":"api-call-service","z":"7a0cfb6d.2e95f4","name":"4Col Off","server":"88f37aec.0bd8f8","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.show_four_columns\"}","mergecontext":"","x":321,"y":927,"wires":[[]]},{"id":"7fa36c59.62d3b4","type":"server-state-changed","z":"7a0cfb6d.2e95f4","name":"2Col On","server":"88f37aec.0bd8f8","entityidfilter":"input_boolean.show_two_columns","entityidfiltertype":"substring","haltifstate":"off","x":101,"y":1052,"wires":[["cf06aeba.5d46f","367cf91.4fa5806","d6cf6b3b.e52d48"]]},{"id":"cf06aeba.5d46f","type":"api-call-service","z":"7a0cfb6d.2e95f4","name":"1Col Off","server":"88f37aec.0bd8f8","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.show_one_column\"}","mergecontext":"","x":324,"y":984,"wires":[[]]},{"id":"367cf91.4fa5806","type":"api-call-service","z":"7a0cfb6d.2e95f4","name":"3Col Off","server":"88f37aec.0bd8f8","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.show_three_columns\"}","mergecontext":"","x":315,"y":1051,"wires":[[]]},{"id":"d6cf6b3b.e52d48","type":"api-call-service","z":"7a0cfb6d.2e95f4","name":"4Col Off","server":"88f37aec.0bd8f8","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.show_four_columns\"}","mergecontext":"","x":317,"y":1114,"wires":[[]]},{"id":"ee26aa3d.147e08","type":"server-state-changed","z":"7a0cfb6d.2e95f4","name":"3Col On","server":"88f37aec.0bd8f8","entityidfilter":"input_boolean.show_three_columns","entityidfiltertype":"substring","haltifstate":"off","x":96,"y":1227,"wires":[["a2d70516.c0c5b8","681b75f.458438c","918d9ea2.25018"]]},{"id":"a2d70516.c0c5b8","type":"api-call-service","z":"7a0cfb6d.2e95f4","name":"2Col Off","server":"88f37aec.0bd8f8","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.show_two_columns\"}","mergecontext":"","x":311,"y":1227,"wires":[[]]},{"id":"681b75f.458438c","type":"api-call-service","z":"7a0cfb6d.2e95f4","name":"4Col Off","server":"88f37aec.0bd8f8","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.show_four_columns\"}","mergecontext":"","x":312,"y":1289,"wires":[[]]},{"id":"58fd3630.a28138","type":"server-state-changed","z":"7a0cfb6d.2e95f4","name":"4Col On","server":"88f37aec.0bd8f8","entityidfilter":"input_boolean.show_four_columns","entityidfiltertype":"substring","haltifstate":"off","x":90,"y":1406,"wires":[["f6b4f6d2.452dd8","b750d437.ea4f88","62dc9cef.49e5d4"]]},{"id":"f6b4f6d2.452dd8","type":"api-call-service","z":"7a0cfb6d.2e95f4","name":"2Col Off","server":"88f37aec.0bd8f8","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.show_two_columns\"}","mergecontext":"","x":310,"y":1398,"wires":[[]]},{"id":"b750d437.ea4f88","type":"api-call-service","z":"7a0cfb6d.2e95f4","name":"3Col Off","server":"88f37aec.0bd8f8","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.show_three_columns\"}","mergecontext":"","x":308,"y":1459,"wires":[[]]},{"id":"918d9ea2.25018","type":"api-call-service","z":"7a0cfb6d.2e95f4","name":"1Col Off","server":"88f37aec.0bd8f8","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.show_one_column\"}","mergecontext":"","x":312,"y":1172,"wires":[[]]},{"id":"62dc9cef.49e5d4","type":"api-call-service","z":"7a0cfb6d.2e95f4","name":"1Col Off","server":"88f37aec.0bd8f8","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.show_one_column\"}","mergecontext":"","x":309,"y":1343,"wires":[[]]},{"id":"a36ce067.1165","type":"inject","z":"3b4eab14.57a2b4","name":"Top of the Hour","topic":"clock","payload":"","payloadType":"date","repeat":"","crontab":"0 9-22 * * *","once":false,"onceDelay":0.1,"x":95,"y":176,"wires":[["92ae37f6.b266e8"]]},{"id":"a83238b4.0722a8","type":"api-current-state","z":"3b4eab14.57a2b4","name":"Ian","server":"88f37aec.0bd8f8","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"device_tracker.ian_iphone","x":102,"y":225,"wires":[["92ae37f6.b266e8"]]},{"id":"781758d6.38fbd8","type":"api-current-state","z":"3b4eab14.57a2b4","name":"Chelsea","server":"88f37aec.0bd8f8","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"device_tracker.chelsea_chelseas_phone","x":102,"y":282,"wires":[["92ae37f6.b266e8"]]},{"id":"186b3750.df3f79","type":"api-current-state","z":"3b4eab14.57a2b4","name":"Speakers","server":"88f37aec.0bd8f8","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"media_player.living_room_speakers","x":101,"y":333,"wires":[["92ae37f6.b266e8"]]},{"id":"92ae37f6.b266e8","type":"function","z":"3b4eab14.57a2b4","name":"Play Chimes?","func":"context.data = context.data || {};\nswitch (msg.topic) {\n    case \"clock\":\n        context.data.clock = msg.payload;\n        msg = null;\n        break;\n    case \"device_tracker.ian_phone\":\n        context.data.ian = msg.payload;\n        msg = null;\n        break;\n    case \"device_tracker.chelsea_chelseas_phone\":\n        context.data.chelsea = msg.payload;\n        msg = null;\n        break;\n    case \"media_player.living_room_speakers\":\n        context.data.speakers = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n        break;\n}\n\nif (context.data.clock !== null &&\n    context.data.ian !== null &&\n    context.data.chelsea !== null &&\n    (context.data.ian.state === 'home' ||\n    context.data.chelsea.state === 'home') &&\n    context.data.speakers !== null &&\n    context.data.speakers !== 'playing') {\n    return {payload:true};\n}\nreturn false;","outputs":1,"noerr":0,"x":337,"y":251,"wires":[["511562a8.66562c"]]},{"id":"511562a8.66562c","type":"switch","z":"3b4eab14.57a2b4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":524,"y":321,"wires":[["c0c7a1e0.5f875","4fb52b84.17e984"]]},{"id":"dbb88638.f5ccc8","type":"inject","z":"8434a9b2.ad13b8","name":"Weekdays","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 22 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"x":132,"y":156,"wires":[["eef99584.8d46c8"]]},{"id":"90223471.9004a8","type":"inject","z":"8434a9b2.ad13b8","name":"Weekends","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 00 * * 6,0","once":false,"onceDelay":0.1,"x":134,"y":246,"wires":[["eef99584.8d46c8"]]},{"id":"eef99584.8d46c8","type":"api-current-state","z":"8434a9b2.ad13b8","name":"Office Light On?","server":"88f37aec.0bd8f8","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"switch.switch","x":344,"y":197,"wires":[["8a93716a.ebf29"]]},{"id":"8a93716a.ebf29","type":"api-call-service","z":"8434a9b2.ad13b8","name":"Turn off light","server":"88f37aec.0bd8f8","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.switch\"}","mergecontext":"","x":586,"y":197,"wires":[[]]},{"id":"7c212fe.4cda9d","type":"inject","z":"26d4023e.7b419e","name":"Weekdays","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 06 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"x":128,"y":208,"wires":[["ce506c51.e1e65"]]},{"id":"a403324.54746d","type":"inject","z":"26d4023e.7b419e","name":"Weekends","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 08 * * 6,0","once":false,"onceDelay":0.1,"x":129,"y":304,"wires":[["ce506c51.e1e65"]]},{"id":"bd655f80.7b631","type":"api-current-state","z":"26d4023e.7b419e","name":"Ian","server":"88f37aec.0bd8f8","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"device_tracker.ian_iphone","x":113,"y":368,"wires":[["ce506c51.e1e65"]]},{"id":"c84c84e8.9da758","type":"api-current-state","z":"26d4023e.7b419e","name":"Chelsea","server":"88f37aec.0bd8f8","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"device_tracker.chelsea_chelseas_phone","x":115,"y":433,"wires":[["ce506c51.e1e65"]]},{"id":"ce506c51.e1e65","type":"function","z":"26d4023e.7b419e","name":"Someone Home?","func":"context.data = context.data || {};\nswitch (msg.topic) {\n    case \"clock\":\n        context.data.clock = msg.payload;\n        msg = null;\n        break;\n    case \"device_tracker.ian_phone\":\n        context.data.ian = msg.payload;\n        msg = null;\n        break;\n    case \"device_tracker.chelsea_chelseas_phone\":\n        context.data.chelsea = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n        break;\n}\n\nif (context.data.clock !== null &&\n    context.data.ian !== null &&\n    context.data.chelsea !== null &&\n    (context.data.ian.state === 'home' ||\n    context.data.chelsea.state === 'home')) {\n    return {payload:true};\n}\nreturn false;","outputs":1,"noerr":0,"x":388,"y":320,"wires":[["7a9fffc8.a3dee"]]},{"id":"7a9fffc8.a3dee","type":"api-call-service","z":"26d4023e.7b419e","name":"Set Volume","server":"88f37aec.0bd8f8","service_domain":"media_player","service":"volume_set","data":"{\"entity_id\": \"media_player.upper_main_floor\",\"volume_level\":\"0..2\"}","mergecontext":"","x":587,"y":274,"wires":[["2a40fd01.5dd012"]]},{"id":"2a40fd01.5dd012","type":"looptimer","z":"26d4023e.7b419e","duration":"5","units":"Second","maxloops":"100","maxtimeout":"1","maxtimeoutunits":"Hour","name":"","x":771,"y":317,"wires":[[],["43382c5b.63f8d4"]]},{"id":"43382c5b.63f8d4","type":"api-call-service","z":"26d4023e.7b419e","name":"Play NPR","server":"88f37aec.0bd8f8","service_domain":"media_player","service":"play_media","data":"{\"entity_id\":\"media_player.upper_main_floor\",\"media_content_type\":\"audio/mp3\",\"media_content_id\":\"http://18243.live.streamtheworld.com:3690/KIOSFM_SC\"}","mergecontext":"","x":950,"y":277,"wires":[[]]},{"id":"7b1288a2.63b468","type":"function","z":"26d4023e.7b419e","name":"Is today a holiday?","func":"// Create a Date object from the payload\nvar countrycode = \"dnk\"\nvar pre= \"https://kayaposoft.com/enrico/json/v2.0/?action=isPublicHoliday&date=\"\nvar post =\"&country=\"\n\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\n// Return the message so it can be sent on\n\n// month and day\nvar month = date.getMonth() +1;\nvar day= date.getDate();\nvar year = date.getFullYear();\nvar today = day+\"-\"+month+\"-\"+year\nmsg.payload = pre+today+post+countrycode\nreturn msg;","outputs":1,"noerr":0,"x":397,"y":188,"wires":[[]]},{"id":"4fb52b84.17e984","type":"change","z":"3b4eab14.57a2b4","name":"now","rules":[{"t":"set","p":"payload","pt":"msg","to":"$now()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":659,"y":257,"wires":[["2d410f8e.586e3"]]},{"id":"c0c7a1e0.5f875","type":"debug","z":"3b4eab14.57a2b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":678,"y":364,"wires":[]},{"id":"2d410f8e.586e3","type":"function","z":"3b4eab14.57a2b4","name":"Get Hour","func":"if ( !msg.timestamp ) msg.timestamp = Math.round(+new Date());\n\nvar dt = new Date(msg.timestamp);\n\nreturn dt.getHours();","outputs":1,"noerr":0,"x":823,"y":309,"wires":[["bb8bcea9.06c42"]]},{"id":"bb8bcea9.06c42","type":"api-call-service","z":"3b4eab14.57a2b4","name":"Volume","server":"88f37aec.0bd8f8","service_domain":"media_player","service":"volume_set","data":"{\"entity_id\":\"media_player.living_room_speakers\", \"volume_level\": 0.20}","mergecontext":"","x":997,"y":259,"wires":[["df90a960.c11678"]]},{"id":"df90a960.c11678","type":"looptimer","z":"3b4eab14.57a2b4","duration":"5","units":"Second","maxloops":"100","maxtimeout":"1","maxtimeoutunits":"Hour","name":"","x":1166,"y":304,"wires":[["2fdca462.1bd93c"],[]]},{"id":"2fdca462.1bd93c","type":"api-call-service","z":"3b4eab14.57a2b4","name":"Chime","server":"88f37aec.0bd8f8","service_domain":"media_player","service":"play_media","data":"{\"entity_id\": \"media_player.living_room_speakers\", \"media_content_type\": \"audio/mp4\", \"media_content_id\": \"https://github.com/iantrich/hassio_config/blob/master/www/GrandFatherChime.wav\"}","mergecontext":"","x":1354,"y":254,"wires":[[]]}]